[2018-03-17 17:32] marcoreni opened #3 "table_prefix becomes schema_prefix if a schema is defined"
Hello,

I'm currently mapping my entities using annotations, my database is PostgreSQL.

My entities are annotated as:
[code]

I tried adding a table_prefix to my configuration, and `doctrine:schema:update --dump-sql` showed the following:
[code]

Is this expected behaviour? Is there a way to set a table_prefix while conserving the original schema?

[2018-03-17 21:53] DamienHarper commented on #3
@marcoreni
I've released 1.0.4 which fixes an issue with explicitly specifying schema name and using a table prefix.
In your case, it should produce
`CREATE TABLE my_schema.audit_entity_name ...`
instead of
`CREATE TABLE audit_my_schema.entity_name ...`

Though, I haven't been able to reproduce the first part of your issue: `CREATE SCHEMA audit_my_schema;`

Can you please update to 1.0.4 and repor

[2018-03-18 08:53] marcoreni commented on #3
Thanks @DamienHarper , the new release fixed my issue:

[code]

I think that Doctrine tried to create `audit_my_schema` because it didn't exist (I only created `my_schema`). Fixing the prefix issue solved this problem too.

Thanks again

[2018-03-18 08:53] #3 closed

[2018-03-18 11:00] marcoreni opened #4 "Table associations questions"
Hello again,

I'm experimenting with the bundle, and I have a few questions about associations tracking.

## OneToOne bi-directional associations

I have some associations mapped as:
[code]

After adding a `CorrelatedEntity` to an existing `EntityOne`, I can see a change tracked inside `EntityOne`:

| Properties | Old value | New value |
| --- | --- | --- |
| correlatedEntity | | label: AppBundle\

[2018-03-19 08:03] DamienHarper commented on #4
@marcoreni Thanks for your feedback.
As of now, there is no navigation in the template, I plan to add some as well as a more polished look in the future (low priority right now - no ETA)
I need some more time to investigate the other issues, I'll report asap.

[2018-03-22 17:02] DamienHarper commented on #4
Hi @marcoreni
`association` and `dissociation` were only used with `ManyToMany` relationships.
I've just pushed some updates to dev-master that enables them for OneToMany as well.

Also, I think that in your "ManyToMany unidirectional associations" `EntityThree` code sample, you miss the inverse part of the relationship with `EntityOne`.

You should have something like:
[code]

Can you please test

[2018-03-23 14:03] marcoreni commented on #4
Hello @DamienHarper , I'll test & report back `dev-master` ASAP.

As for the ManyToMany case, it's a **unidirectional** association as documented here:  http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/association-mapping.html#many-to-many-unidirectional

That's why there is no inverse side. I know I won't be able to see the relation on the "unmapped" side, but does this

[2018-03-23 14:18] DamienHarper commented on #4
@marcoreni no, there's no need to use bidirectional relationships.
You should see association from owning side only regarding unidirectional relationships and from both sides regarding bidirectional relationships.

[2018-04-07 21:56] DamienHarper commented on #4
@marcoreni 1.0.5 released

[2018-04-12 21:05] marcoreni commented on #4
Hello @DamienHarper , sorry for my terrible delay.

I'm testing 1.0.5 right now.

I was able to see Associations in One-To-Many bi-directional relationships.
I also tried disassociations. The change was tracked, but inside "Object ID" I can see the object id of the target entity (ie. I disassociated entityOne#13 and entityTwo#9. Inside entityOne history, I see `Type: disassociate - Object id: 9` i

[2018-04-12 21:29] marcoreni opened #5 "Change is not tracked for boolean from: null to: false (or vice-versa)"
Hello again,

I have some boolean nullable fields inside my entities. If I change one of these fields from false to null, the change is not tracked. If I change it from true to false, or from true to null, the change is tracked in both cases but I cannot see the difference inside the diff (in both cases I see `from: 1 - to: {empty}`.

The audit table shows:
[code]

I think this is because `false =

[2018-04-12 22:01] DamienHarper commented on #5
@marcoreni thanks for your feedback again. I think you're right, this issue could come from these non strict comparisons. Feel free to make a PR and test on your side. I'll do the same and merge it if all good.

[2018-04-12 22:05] DamienHarper commented on #4
@marcoreni In your example you disassociated entityOne#13 and entityTwo#9.
So inside entityOne history, you see `Type: disassociate - Object id: 9` which means from entityOne point of view, it's been dissociated from entityTwo#9.

[2018-04-14 08:09] marcoreni commented on #4
@DamienHarper I got that, but this way in the change history for a particular entity#id I won't see the disassociation, because for that particular case the id will be the one from the target entity, while for all other cases it will be the one from the parent entity.

In the example below I've been working only with entityOne#10:

![image](https://user-images.githubusercontent.com/2797489/3876597

[2018-05-02 15:17] #5 closed

[2018-05-04 12:47] DamienHarper commented on #4
@marcoreni for short, right now every `association` and `dissociation` that comes from a collection operator (ie done using adder and/or remover) is listed as `associate` and `dissociate` operations in histories.
On the other hand, every `association` and `dissociation` that comes from a setter is listed as `update` operations in histories.

Excerpt of `EntityOne` class:
[code]

Calling `EntityOne

[2018-05-09 12:49] tleurida2 opened #7 "Float entries. Dissociate id source"
Float entries detected as update even if there is no change.
Dissociate id source was wrong.

[AuditSubscriber.zip](https://github.com/DamienHarper/DoctrineAuditBundle/files/1987837/AuditSubscriber.zip)

[2018-05-28 22:09] DamienHarper commented on #7
@tleurida2, thanks for your feedback and sorry for my late reply.
You're right about updates detected by error regarding float/int but your solution likely won't work with boolean/null values (null == false). Maybe you could provide a PR?
For the other part (dissociate id source was wrong), could you provide an example?

[2018-06-21 14:15] Maxdw opened #9 "ignored_columns work with the property names and not the column names"
What I did (as stated in the readme.md):

[code]

What happened:

These columns were not ignored.

What I expected:

For these columns to be ignored.

What I found out:

[code]

Actually worked.

[2018-06-21 16:34] rubiodamian opened #10 "AuditEntry class mapping"
Hi!
It would be nice to have some way by configuring to replace the AuditEntry entity with some other entity. Since AuditReader always returns instances of AuditEntry and it is not possible to give behavior to this class unless it is its own.

Something like:

dh_doctrine_audit:
     audit_entry:
        class: App\Entity\CustomAuditEntry

[2018-06-21 21:04] DamienHarper commented on #10
@rubiodamian that would be a nice addition, may you submit a PR?

[2018-06-21 23:47] DamienHarper commented on #7
I pushed some changes that should fix the issue. Could you please test against master branch?

[2018-06-21 23:59] DamienHarper commented on #9
@Maxdw you're right, one should use entity properties in the yaml configuration file.
That's what I meant with the comment **# properties ignored by the audit process** in the README.
To be honest, I was using snake case to name properties (so they were strictly equal to column names) in my sandbox.
It's fixed now in the README on master branch.

[2018-06-21 23:59] #9 closed

[2018-06-22 12:51] codedmonkey commented on #7
For us, the issue is that Doctrine returns the values of decimals as `string`, understandably, since you can set a specific `precision` which would be lost as `float` type. When editing a decimal field in the Form component, it does return a `float`. So when comparing old and new, Doctrine sees a change in the typing, not in contents.

We're choosing to conform to Doctrine in this case by changing

[2018-06-27 09:38] Maxdw commented on #7
Our problem was that Symfony's FormBuilder built-in MoneyType transforms values to the float type. While our entity's corresponding decimal field setters and getters did not enforce the string type it should have (decimals should not be represented by floats). By typehinting these getters and setters with the string type you can enforce the decimal field to be represented as a string, even if a fl

[2018-07-06 12:37] codedmonkey opened #11 "Unable to save changes to array fields"
Hi, thanks for the great bundle. It seems that after a recent change we can't save changes to **arrays** and JSON array fields as it throws the following error:

[code]

I looked at the `convertToPHPValue` method and it doesn't seem to be particular useful in this case, as it seems to expect the given value to come directly from the database, not from the entity, hopefully that helps.

Thanks!

[2018-07-13 08:43] dajoykill commented on #11
Facing the same issue at the moment, in my case, I'm trying to save multiple roles to a user, which are an array, and I'm running in to the same issue.

Reverting back to the 1.0.6 release seems to have fixed the issue at the moment.

From going through the commits for that release, looks like [this change](https://github.com/DamienHarper/DoctrineAuditBundle/commit/bb89f9b8c2625ffd7851423236787800

[2018-07-13 14:04] DamienHarper commented on #11
@codedmonkey @dajoykill sorry for this late reply, you're right, I confirm the issues you're running into.
As @dajoykill says, you can downgrade to 1.0.6 while I'm working a a fix. Thanks for your patience.

[2018-07-19 07:38] DamienHarper commented on #11
@codedmonkey and @dajoykill: I pushed a fix on the master branch, can you confirm it fixes the issue for you?

[2018-07-23 08:10] mrvnklm opened #12 "Is tracking of entry deletion planned in future?"
As the readme says its the bundle is not tracking the deletion of entries, is this going to take place in the future?
Whats the reason why its not a feature?

[2018-07-23 08:56] dajoykill commented on #11
@DamienHarper  I also confirm, the fix works. I suppose you'll push this in to a new release eventually?

[2018-07-23 08:56] DamienHarper commented on #11
@dajoykill sure, I'll do it shortly

[2018-07-23 08:59] DamienHarper commented on #12
@mrvnklm Do you mean tracking deletion through direct SQL queries?

[2018-07-23 09:44] DamienHarper commented on #11
1.0.8 is released fixing these issues.

[2018-07-23 09:44] #11 closed

[2018-07-23 12:40] danabrey opened #13 "Error during comparison of custom Doctrine type"
When using DoctrineAuditBundle on an entity that has a property of a custom Doctrine type ([CrEOF doctrine2-spatial 'point'](https://github.com/creof/doctrine2-spatial)), I got an error during comparison of the old and new objects:

`Cannot use object of type CrEOF\Spatial\PHP\Types\Geometry\Point as array`

Looking into it, I found that the error was fixed by changing line [465 of AuditSubscriber

[2018-07-23 12:44] DamienHarper commented on #13
@danabrey thanks for the report, I'll have a look at it asap.

[2018-07-24 14:02] DamienHarper commented on #12
It should bee tracked, can you provide me an example where it doesn't work?

[2018-07-24 16:30] DamienHarper commented on #7
Decimals are now casted as string before comparison. Can you please test against dev-master?

[2018-07-29 09:02] DamienHarper commented on #7
Closing the issue for now. Feel free to re-open if needed.

[2018-07-29 09:02] #7 closed

[2018-08-01 11:01] mrvnklm commented on #12
Issue was caused by using softdeleteable. Thanks and sorry @DamienHarper

[2018-08-01 11:01] #12 closed

[2018-08-08 15:16] mrvnklm commented on #12
@DamienHarper would it be possible to implement a softdeleteable delete action? So if deletedAt is set, its also handled as deleted

[2018-08-08 15:52] DamienHarper commented on #12
The main purpose of the bundle is to track SQL statements (INSERT, UPDATE, DELETE). It doesn't  interpret them.
A soft delete is an UPDATE statement of a field used to mark a record as deleted without removing it from the database. Soft deletes can be handled by several ways, the most common one is to use a dedicated Doctrine extension, but it's not the only one.
So soft deleted records can be tra

[2018-11-12 16:18] kl3sk opened #18 "[question] can we use this bundle as a versionning tool ?"
Because here it is not planned https://github.com/DATA-DOG/DataDogAuditBundle/issues/43 do you ?

Especially revert behaviour.

[2018-11-12 16:45] DamienHarper commented on #18
Hi, I'm sorry but this is not on the roadmap right now.

[2018-11-12 16:46] DamienHarper commented on #18
Though, I'd be happy to merge your PR if you want to contribute ;)

[2018-11-12 17:11] kl3sk commented on #18
I’ve not yet test your bundle. I’ll disable datadog’s before.

Then test your to see if it fit my needs (should, because of the idea of datadog). But not implemented reverting behaviour 😋

[2018-11-14 10:23] scion4581 opened #21 "ManyToMany missing dissociate event"
Hello! I face some trouble, having many to many relation when you remove last association there is no dissociative event record in audit table for that entity
Everything else seems working fine

[2018-11-14 16:41] DamienHarper commented on #21
@scion4581 could you provide me some sample code to reproduce your issue?

[2018-11-14 16:58] kl3sk commented on #21
Look at the FAQ entry in the read me.

I had a similar problème.

[2018-11-14 21:15] scion4581 commented on #21
which one example? there is no need some code to show

1)just create many to many relation ,for example, books vs tags,
2)add two tags to a book - u will see associate event
3)then remove one - u will see dissociate event
4)but when u will remove last one - another dissociate event is missing

Or you have another behavior?

P.S. I admit that this is happens when u remove all many to many accosiati

[2018-11-14 21:16] scion4581 commented on #21
@kl3sk to add just another entity to audit proccess working fine

[2018-11-14 23:33] scion4581 commented on #21
Little investigation point that in [this line](https://github.com/DamienHarper/DoctrineAuditBundle/blob/4b2be4642f6c5581cca2451220fc11737cb1d5c8/src/DoctrineAuditBundle/EventSubscriber/AuditSubscriber.php#L138) $collection->toArray() empty after delete all associations...

BTW I am using form for entity editing maybe problem is there, I will try use only code and will post result later

[2018-11-15 10:35] kl3sk opened #22 "@Tempalte annotation"
Because i use api-platform as backend (correct me if i'm wrong) it doesn't require `sensio/framework-extra-bundle` which is needed to load `@Tempalte` annotation which is in your `AudiController`

I think of 2 solutions:

1- Add requirement in you `composer.json`
2- Remove the annotations in you controller (in fact you use `$this->render`)

For me the second solution seems better

[2018-11-15 10:51] DamienHarper commented on #22
Thanks @kl3sk, well spotted. It's fixed right now in `master` branch.

[2018-11-15 10:51] #22 closed

[2018-11-15 11:09] kl3sk commented on #22
`composer update` or `composer remove && composer req` doesn't do anything

[2018-11-15 11:12] DamienHarper commented on #18
I close this one for now

[2018-11-15 11:12] #18 closed

[2018-11-15 11:13] kl3sk opened #23 "ApiPlatform compatibility"
Because audited entities are not "real" entity i can't tell (as I know) ApiPlatform to expose it.

I try to find a way but any help will be appreciated.

I found a way to expose vendor entities here https://github.com/api-platform/api-platform/issues/891 but with you bundle I don't know yet.

[2018-11-15 11:14] kl3sk commented on #18
Yes I'll maybe reopen or do something else it if I found a way.

[2018-11-15 13:00] DamienHarper commented on #22
@kl3sk I only removed an unused dependency to SensioFrameworkExtraBundle in a controller so composer won't do anything by itself.
If the extra bundle has been added to your project, you have to remove it yourself: `composer remove sensio/framework-extra-bundle`

[2018-11-15 13:08] kl3sk commented on #22
@DamienHarper  Yes I know that, what I mean that `your` bundle isn't update even on update or remove and install 😃

[2018-11-15 13:31] DamienHarper commented on #22
@kl3sk my commit has been done on `master` branch and I haven't tagged it for release so composer can't update anything.
If you want to try the `master` branch, you have to edit your `composer.json` file and change the version requirement regarding DoctrineAuditBundle to `dev-master`
ie `"damienharper/doctrine-audit-bundle": "dev-master"`

[2018-11-15 13:46] kl3sk commented on #22
Ok thank you 👍

[2018-11-18 13:40] scion4581 commented on #21
Seems I found the problem its related to https://github.com/doctrine/mongodb-odm/issues/1559
While its mongodb repo problem actual in my case too
So if you will use collection->clear() you won't be able to catch associations has been removed,
just get empty collection
In my case I was not call clear by myself instead this action provided by one form listener bellow [link](https://github.com/symfon

[2018-11-19 09:02] DamienHarper commented on #23
@kl3sk is this issue still relevant?

[2018-11-19 09:08] #23 closed, assigned to nobody

[2018-11-19 16:02] DamienHarper commented on #21
@scion4581 I'm sorry but I don't think I can help much on that issue :/
Maybe you can try to register a custom `MergeDoctrineCollectionListener` event listener with higher priority so that it's run before the default one and override its behavior regarding the collection clearing but it looks quite challenging.

[2018-11-20 08:21] scion4581 commented on #21
@DamienHarper, Unfortunately MergeDoctrineCollectionListener not defined like service, it just passes like ->addEventSubscriber(new MergeDoctrineCollectionListener()), so there is nothing you can do :(

[2018-11-20 08:21] #21 closed

[2018-12-05 17:52] #4 closed

[2018-12-10 18:02] eduardoweiland opened #26 "Add support for custom user provider"
Currently, this bundle only supports getting the user from Symfony's `TokenStorage`. Is it possible to add something like [getting the user from a custom service](https://github.com/simplethings/EntityAuditBundle#setting-the-current-username)? We are using Symfony in a microservices architecture and we don't use `TokenStorage` to save the current user. With this bundle we have no way to implement

[2018-12-12 13:19] DamienHarper commented on #26
Hi @eduardoweiland, thanks for your feedback. I was thinking about using `TokenStorageInterface` in place of `TokenStorage` class to make things a bit more flexible.
Does your "user provider" implement `TokenStorageInterface`?

[2018-12-12 14:14] eduardoweiland commented on #26
I was thinking in something that does not require `symfony/security` to be installed to work. You can see what I made so far [in my fork](https://github.com/DamienHarper/DoctrineAuditBundle/compare/master...quantosobra:user-provider).

[2018-12-12 15:05] DamienHarper commented on #26
Looks great, feel free to make a PR as soon as your done ;)

[2018-12-12 15:54] eduardoweiland commented on #26
@DamienHarper PR created #27

[2018-12-13 10:55] #26 closed

[2019-01-11 16:16] PinDeZebra opened #29 "README.md for Symfony 4"
Hi, thanks for the bundle. I just intalled it with Symfony 4 and would have some minor improvements recommendation for the README.md related to Symfony 4 specifically:

- The "Step 2: Enable the Bundle", is not needed anymore : the bundle is added automatically to config\bundles.php which in turn is read by the Kernel.php.
- In "Configuration", the dh_doctrine_audit config file location that worke

[2019-01-11 16:17] DamienHarper commented on #29
@PinDeZebra thanks for your feedback

[2019-01-11 20:16] DamienHarper commented on #29
@PinDeZebra

Step 1 and Step 2 are required for "Applications that don't use Symfony Flex". As you are using Symfony 4.2 hence Symfony Flex, you only need the `composer require damienharper/doctrine-audit-bundle` (cf. "Applications that use Symfony Flex" from `README.md`)

You're right I mistyped the path => I'll fix the `README.md`

Symfony doc mentions the `routes.yaml` file for "simple applicat

[2019-01-15 12:21] eduardoweiland opened #30 "Add option to disable audit for a specific entity at runtime"
We have an use case where an Entity can be changed by an automated process and also by the user. We want to audit changes made to this Entity only when it's made by the user and not the automated process.

I think that we can add some methods/options in `AuditConfiguration` class to allow disabling audit for an Entity. Then, we can inject the configuration service in our controllers and disable/en

[2019-01-15 13:09] DamienHarper commented on #30
@eduardoweiland thanks for your feedback. I thought about such a feature at the beginning but chose not to implement it (though I'm not completely closed to it) because even if it makes the audit system more flexible, it will make audit partial, intentionally partial, but partial anyway. So I think the point is: are audits that miss changes acceptable? I'd say no but I understand your use case.
Wh

[2019-01-15 13:47] eduardoweiland commented on #30
@DamienHarper The entity is used as a counter, e.g. a sequential invoice number. Whenever the user creates a new invoice, we use the number in this table for the new invoice, and increment the sequence number for the next invoice (that's the "automated process").

But sometimes the user wants to change the next invoice number - for various reasons. And this is the only change we need to audit.

So

[2019-01-15 14:36] DamienHarper commented on #30
@eduardoweiland thanks for the explanations. Please, feel free to submit a PR, I'm still not fully convinced but understand those use-cases ;)

[2019-01-15 17:09] DamienHarper commented on #29
@PinDeZebra config file path is [fixed](https://github.com/DamienHarper/DoctrineAuditBundle/commit/9161f165f16a01d207278bc5876cff56932d8aca) in `README.md`

[2019-01-15 17:09] #29 closed

[2019-01-17 17:36] eduardoweiland commented on #30
Thanks

[2019-01-22 10:10] DrummerKH opened #32 "PostgreSQL schemas not supporting"
We are using PostgreSQL database. We have tables in schema 'scheme' which must be audited. With default bundle configuration audit tables creating in correct table's schema, but on insert changes to audit tables the schema is ignored and doctrine trying save to default 'public' scheme.

[2019-01-22 10:21] DrummerKH commented on #32
I suggesting this patch https://github.com/DamienHarper/DoctrineAuditBundle/pull/33

[2019-01-22 10:33] DamienHarper commented on #32
@DrummerKH good catch! Thanks for your feedback, I'll have a close look at your PR.

[2019-01-22 10:35] DrummerKH commented on #32
I found where need to add schema support also - in AuditViewer, now i`m updating PR.

[2019-01-22 10:39] DrummerKH commented on #32
It is done, check it please.

[2019-01-22 16:57] DamienHarper commented on #32
PR #33 looks OK to me and has been merged into `master`. However, I do not have any PostgreSQL at hand right now so I can't test it properly.
@DrummerKH can you confirm it's ok on your side?

[2019-01-23 09:44] kezek opened #34 "Issues with class inheritence"
Hi there. First of all thanks for the bundle.

Having an issue with a specific use case:

1. Having a class X (normal doctrine entity , not mapped superclass) which is marked as auditable
2. Having a class Y (another normal doctrine entity) which extends X (Y extends X), not marked as auditable

Getting an Undefined index: Y , in src/DoctrineAuditBundle/AuditConfiguration.php:95 . Checked the code

[2019-01-23 10:00] snuffer82 opened #35 "php version"
hi,
I try to install through composer but I received this message error:
`Could not find package damienharper/doctrine-audit-bundle at any version matching your PHP version 7.0.32.0`
What can I do?
thanks a lot
Paolo

[2019-01-23 18:04] DamienHarper commented on #35
Hi @snuffer82, the bundle requires a PHP version >= 7.1. The best advice I can give you is: update PHP to 7.1 at least, 7.0 is not supported anymore.

[2019-01-23 18:04] #35 closed

[2019-01-24 17:07] DamienHarper commented on #34
I pushed a fix in `master` branch.
Can you please confirm it fixes your issue.

[2019-01-24 17:30] kezek commented on #34
I will let you know as soon as possible !

[2019-01-28 11:04] DamienHarper commented on #32
I close this one as 1.4.0 is out

[2019-01-28 11:04] #32 closed

[2019-01-28 11:05] DamienHarper commented on #34
1.4.0 is out and should fix this issue. Feel free to re-open if it's not the case.

[2019-01-28 11:05] #34 closed

[2019-02-01 13:45] webmasterMeyers opened #36 "Symfony 4.2 autowiring for Audit Viewer"
I have only been using Symfony for about 6 months now, and so I might be wrong with this but...

I would get an error when trying to use `$this->container->get('dh_doctrine_audit.reader');`

I had to put this in my services.yaml
[code]
and then my controller
[code]

**Would this be the correct approach?** and if so, might be worth putting in the readme!

Thanks for this, so far I think it will wor

[2019-02-04 14:15] DamienHarper commented on #36
@webmasterMeyers Yes, your approach is correct, I'll update the `README.md`

[2019-02-06 09:35] olek07 opened #39 "Why an extra table for each entity?"
Hi!
Why do you create an extra table for each entity? You could store all of the audits into the only one table "audit", that contains an additional field "entity" with the name of the correspondent entity. Can you add this option to the config?

[2019-02-06 09:57] DamienHarper commented on #39
@olek07 This is by design for performance reason: a single table to collect all audits from every other tables makes it a bottleneck in a system where there are many concurrent writes on audited tables.
Database locking and table size become quickly a big concern in such situations.

[2019-02-06 09:58] #39 closed

[2019-02-06 10:15] #36 closed

[2019-02-06 12:11] olek07 opened #40 "Can DoctrineAuditBundle work with related entities?"
I have the entity

[code]
and the entity
[code]

If I try to run this code, I get the exception

[code]
What is the problem? Can the bundle properly work with related entities?

[2019-02-06 15:25] DamienHarper commented on #40
@olek07 Sure it does work with related entities.
To better understand your problem, can you please provide your `dh_doctrine_audit.yaml` content?
Also, `$coreCase` property in your `DieselCase` class has both the [`@ORM\Id`](https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/annotations-reference.html#annref_id) annotation and the `@ORM\ManyToOne`. Isn't it a typo?

[2019-02-06 15:43] DamienHarper commented on #40
@olek07 after digging a bit into the code, the error you encounter comes from [`Type::getType($meta->fieldMappings[$pk]['type']);`](https://github.com/DamienHarper/DoctrineAuditBundle/blob/955af68b19f4a6da53e289e81a08fb159e18b99a/src/DoctrineAuditBundle/EventSubscriber/AuditSubscriber.php#L384)

Here, `$meta` is Doctrine entity metadata (Doctrine stuff, no link with this bundle) and `$pk` is the p

[2019-02-06 15:45] olek07 commented on #40
Ok. I will check it. My colleague said, we need this definition.

[2019-02-06 16:29] DamienHarper commented on #40
Ok, let me know about your findings.
I think that the primary key of the `case_diesel` table should be another field annotated with `@ORM\Id`

Something like this:
[code]

[2019-02-07 09:47] olek07 commented on #40
We need `@ORM\Id`. The idea is to have the same id in the tables case_core and case_diesel. I mayn't remove this annotation, because Doctrine doesn't know how to treat this field.

[2019-02-07 09:52] olek07 commented on #40
Und one more issue.
If I change `type` like this
[code]
this change is written neither into case_core_audit nor into case_diesel_audit

[2019-02-07 10:28] DamienHarper commented on #40
@olek07 I don't see a `flush()` call in your last example. Audits are populated at flush time.

[2019-02-07 10:51] olek07 commented on #40
persist and flush are present. The changes were saved in the tables, but not in the audit tables

[2019-02-07 11:07] DamienHarper commented on #40
Something should have been logged to the `case_core_audit` table but I suppose the initial error is the reason why audits have not been saved.
I'll try to build a debug environment similar to yours to do some further debugging but It will take some time.

[2019-02-10 13:11] nnmer opened #41 "separate DB for audit logs"
Hi,

Can we have audit logs to be stored in a separate DB through another DB connection and entityManager? From the first look seems that is not possible by simple reassign other entityManager to related services. But not sure how much work would be needed to add such functionality.

UPD:
Just want to share the idea behind.
When the entities are used actively, the _audit tables are growing rather

[2019-02-10 14:53] DamienHarper commented on #41
@nnmer I'm thinking about using a secondary db since the beginning but my main concern with this is that all operations won't be processed in a single transaction. Right now, the bundle wraps audit operations (inserts into _audit tables) in the same transaction than the audited entities operations so that every thing is "atomic". This can't be the same using two databases because a transaction can

[2019-02-11 06:07] nnmer commented on #41
@DamienHarper Agree, the 'atomicity' still takes precedence

[2019-02-11 06:07] #41 closed

[2019-02-12 14:22] sigma-technology opened #43 "Improvement: Config option for auditing on insert/update/others?"
What do you think about having a configuration option for whether the bundle should record changes on insert and update, or only update?  I'm guessing this could also technically be applied to any ORM operation.

Currently, it is logging the 'changes' on initial flush when an entity is created; the previous value is null and the new value is whatever the property is set to when created.  We have '

[2019-02-13 10:11] DamienHarper commented on #43
@sigma-technology I agree that one could consider these initial details useless and only take into account the `insert` operation type. Though, an audit trail has to log details about every change applied to an entity (including creation details). This makes it easier to review an entity lifecycle without having to "reverse replay" every change to get its initial state.

[2019-02-18 00:43] DamienHarper commented on #40
@olek07 could you please provide your `DieselCase` and `CoreCase` classes so that I can try to reproduce your use case please?

[2019-02-18 13:24] blesenechal opened #44 "Proxy classes are considered as not audited since 1.4.0"
Since 1.4.0 and this commit (https://github.com/DamienHarper/DoctrineAuditBundle/commit/c839ee80d3c65b1af81f5d4e7dae4149e95ebe42), the "is_subclass_of" test added makes "isAudited" return false if the argument is a proxy (because the proxy is a subclass of the enity)

But when working with Doctrine, we often get a proxy instead of the entity.

In my case, we have users linked to orders.
When calli

[2019-02-18 16:43] DamienHarper commented on #44
@blesenechal could you please try `master` branch, it should fix your issue. Please, let me know.

[2019-02-18 16:55] blesenechal commented on #44
@DamienHarper That fixes the issue for me :)

[2019-02-18 22:30] #44 closed

[2019-02-18 22:30] #43 closed

[2019-02-19 12:53] sigma-technology commented on #43
Sorry, I read this then forgot to reply. I agree with you anyway - I got lost in my particular use-case.

[2019-02-20 10:31] DamienHarper commented on #40
@olek07 I've just pushed a fix to support Identity through foreign Entities. It should fix your issue.
Can you please test your code against `master` branch of this bundle and post some feedback?

[2019-03-01 09:03] DamienHarper commented on #40
@olek07 any news on this issue, did you had a chance to test the fix?

[2019-03-04 16:34] #40 closed

[2019-03-21 20:15] SterinGM opened #54 "Inheritance Mapping"
Hello

https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/inheritance-mapping.html#class-table-inheritance

Audit does not work.
How i can fix it?

[2019-03-21 20:37] #54 closed

[2019-03-21 20:38] SterinGM commented on #54
it works. my mistake.

[2019-04-04 10:09] NOaMTL opened #56 "Custom User informations"
Hello,

I would like to know the best way to store in the audit table more informations about the user, like the first name, last name and avatar (I use default userprovider). What is the best way ?

Thank you.

[2019-04-04 22:12] DamienHarper commented on #56
@NOaMTL Could you please explain why you'd need such additional data.

As a reminder:
- version 1.x of the bundle stores `blame_user_id` and `blame_user` for each audit entry.
- version 2.x, in addition to `blame_user_id` and `blame_user`, the bundle  stores `blame_user_fqdn` and `blame_user_firewall`

Here is what these information mean:
- `blame_user_id` is the ID of the user who originated the

[2019-04-12 13:54] webmasterMeyers opened #57 "Single id is not allowed on composite primary key in entity"
My solution to this will be just to add an ID as per normal, but it is actually unnecessary from a data integrity point of view.

The entity is part of a ManyToMay table. [App\Entity\FamilyBrBeneficiaryProfilePerson]  It is a "family" record that links a "beneficiary profile" to a "person" and contains a couple of extra data points.
[code]
in PostgreSql this is simply a `PRIMARY KEY (beneficiary_p

[2019-04-12 18:53] webmasterMeyers opened #58 "listAuditsAction() is missing disabled entities"
when viewing `example.com/audit` and entities with config `enabled: false` do not show up in the list.

ex;
[code]
Contact Address will be omitted from the list even though you may have enabled audit at run time

[2019-04-12 19:14] DamienHarper commented on #58
@webmasterMeyers I'll have a look at this, thanks for the report

[2019-04-14 23:12] DamienHarper commented on #58
@webmasterMeyers this is fixed on `master` branch. It will be available in upcoming 2.2.0 release.

[2019-04-14 23:12] #58 closed

[2019-04-15 07:16] DamienHarper commented on #58
@webmasterMeyers 2.2.0 is released

[2019-04-16 14:36] DamienHarper commented on #57
@webmasterMeyers Right now I don't plan to add support to composite primary keys any time soon unless demand gets higher. Though, I'm open to any PR that add such support.

[2019-04-16 14:36] #57 closed

[2019-04-17 17:26] Gonzalo1987 opened #62 "Problem with the namespace of entities"
Hello!
I have been using your package since v1.2 and I like it a lot, but I had a problem with the routes because the characters '\' are in the namespace of my entities and the URLs.

The package creates routes such as:
http://localhost/myproject/public/audit/App\Entity\MyEntity
And I can not reach them.

In the version 1.2, I modified the controller and the routes of the views changing the \ in f

[2019-04-17 21:23] DamienHarper commented on #62
@Gonzalo1987 thanks for your feedback but I don't really get what the problem is in your use case :/
What do you mean by "I can not reach them"? What is your current stack (OS, webserver, browser)?
FYI, backslashes in URL are urlencoded (automatically by Symfony) as `%5C` sequence (see [HTML URL Encoding Reference)](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved

[2019-04-17 21:36] Gonzalo1987 commented on #62
Hi @DamienHarper,
I am using Windows with Apache, it is easily reproducible using wamp64. Windows has problem with the backslashes in the routes. My project is using Symfony 4.x Thank you very much!

[2019-04-18 07:13] DamienHarper commented on #62
@Gonzalo1987 OK, it seems to be Windows specific, I'll have a look at this.

[2019-04-18 12:19] Gonzalo1987 commented on #62
Thank you very much!

[2019-04-18 12:48] DamienHarper commented on #62
@Gonzalo1987 this is fixed on `master` branch. It will be available in upcoming 2.3.0 release.

[2019-04-18 12:48] #62 closed

[2019-04-18 12:49] DamienHarper commented on #56
@NOaMTL I close this issue as it hasn't received any feedback. Feel free to re-open it if necessary.

[2019-04-18 12:49] #56 closed

[2019-05-15 14:25] pedrocasado opened #64 "README.md AuditViewer"
The AuditViewer depends on Pagerfanta bundle which is not loaded by default in Symfony 3. So in AppKernel.php i have to enable the bundle, otherwise we  have the error:

`Unknown "pagerfanta" function.`

In AppKernel.php:

    public function registerBundles()
    {
        $bundles = array(
            // ...
            new DH\DoctrineAuditBundle\DHDoctrineAuditBundle(),
            new WhiteOct

[2019-05-16 06:47] DamienHarper commented on #64
@pedrocasado Thanks for the report, I'll update the `README.md`

[2019-05-22 13:32] balvirsingh opened #65 "Unknown "spaceless" filter."
I installed this bundle on Symfony 4.2, the mentioned below issue is occurring.

Unknown "spaceless" filter.

if I remove it from twig file, then works fine.

Please provide the solution or tell me how to override the twig.

[2019-05-22 20:09] DamienHarper commented on #65
@balvirsingh thanks for your feedback, the spaceless tag is deprecated since Twig 1.38 in favor of the spaceless filter. What version of Twig is installed in your application?

[2019-05-23 07:07] balvirsingh commented on #65
symfony/twig-bundle - v4.2.2  Symfony TwigBundle
twig/twig - v2.6.2  Twig, the flexible, fast, and secure template language for PHP

So, it's 2.6.2.

[2019-05-23 09:39] balvirsingh commented on #65
Or can I override the template?

One more issue:-
When I call mentioned below method in my controller's function, it gives an error

$reader = $this->container->get('dh_doctrine_audit.reader');

[2019-05-24 06:26] balvirsingh commented on #65
Hi,

I have added some more details about it, Please check these and let me know
if issue can be resolved?

On Thu, May 23, 2019 at 1:39 AM Damien Harper <notifications@github.com>
wrote:

[2019-05-24 06:48] DamienHarper commented on #65
@balvirsingh That's quite weird. I need some more time to identify/reproduce the issue. Meanwhile, you can override the template and remove the spaceless filter call.

Regarding the reader service, you should be able to inject it in a constructor/method, for example:
[code]
Where do you try to access the reader: from a controller? from a command?

[2019-05-24 06:53] balvirsingh commented on #65
Yes, I am trying to access in the controller.

[2019-05-24 07:25] DamienHarper commented on #65
@balvirsingh can you post what your controller inherits from?

[2019-05-24 07:29] balvirsingh commented on #65
`<?php

namespace App\Controller;

use Symfony\Bundle\FrameworkBundle\Controller\AbstractController;
use Symfony\Bundle\FrameworkBundle\Controller\Controller;
use Symfony\Component\Routing\Annotation\Route;
use Symfony\Component\HttpFoundation\JsonResponse;
use Symfony\Component\HttpFoundation\Request;
use Symfony\Component\HttpFoundation\Response;
use Symfony\Component\HttpFoundation\RedirectResp

[2019-05-24 07:31] balvirsingh commented on #65
I just sent full controller code, pl check.

It would be good if you come available on skype or hangout for me.

Thanks & Regards,
Balvir

On Fri, May 24, 2019, 12:55 PM Damien Harper <notifications@github.com>
wrote:

[2019-05-24 07:44] DamienHarper commented on #65
@balvirsingh your controller extends `AbstractController` which let you access a "limited" container that's why you cannot access the reader from there. The best solution for you here is to inject the reader service to your `OrganizerController::list()` method.

[code]

[2019-05-24 07:46] balvirsingh commented on #65
Hi @DamienHarper,

Great!, it works now on my system. Please work on the spaceless filter. I suggest you to please remove this filter from twig as its deprecated now.

Thank you so much.

[2019-05-29 13:43] hason opened #66 "User with uuid as id"
I use UUID as identifier for User entity. Your code assumes that `id` is integer https://github.com/DamienHarper/DoctrineAuditBundle/blob/master/src/DoctrineAuditBundle/User/UserInterface.php#L7

Application throws error
[code]

[2019-06-11 12:22] balvirsingh commented on #65
Hi @DamienHarper,

Unknown "spaceless" filter.
Have you work
![image](https://user-images.githubusercontent.com/5753046/59271457-7e51e480-8c71-11e9-9cfe-7be7e972e1f3.png)

Have you worked on the above issue? Still, I am facing the same issue. I don't want to override the templates. Please remove that filter for me or do any other alternative to make it work.

Thanks.

[2019-06-11 12:25] balvirsingh commented on #65
Hi Damien,

Please reply on my comment which I added on git.

Thanks.

[2019-06-11 14:52] DamienHarper commented on #65
@balvirsingh I have a job that keeps me very busy lately so I cannot work on this project all the time. Also, I am notified when an issue is opened/commented/closed as well as when a PR is opened/commented/declined/etc. so no need to comment + send an email + send a LinkedIn message, it won't make things happen faster.

Please, test against `master` branch: spaceless filter is not used anymore but

[2019-06-11 16:01] balvirsingh commented on #65
Hi @DamienHarper,

I sincerely apologize for bothering. I will be careful in future.

Thanks.

[2019-06-11 20:54] DamienHarper commented on #65
@balvirsingh let's forget it and move forward ;)
does the `master` branch solve your issue?

[2019-06-12 09:17] balvirsingh commented on #65
Hi @DamienHarper,

Yes, it does work now, Thanks

[2019-06-12 09:18] DamienHarper commented on #65
@balvirsingh thanks for the feedback.
I close this issue as the fix will be part of next release.

[2019-06-12 09:18] #65 closed

[2019-06-13 13:05] DamienHarper commented on #64
@pedrocasado it will be fixed in next release

[2019-06-13 13:05] #64 closed

[2019-07-04 13:58] Jelvooo opened #67 "Installation"
I install the package with
`composer require damienharper/doctrine-audit-bundle`

After that I setup my dh_doctrine_audit.yaml
[code]

`php bin/console doctrine:schema:update --dump-sql `

When I update my database after that it says there aren't any changes. The package doesn't add views or entity's or something to my project. How can I install it on the right way?

[2019-07-04 14:30] DamienHarper commented on #67
@Jelvooo Hi, did you clear your cache before running the `bin/console doctrine:schema:update --dump-sql` command?

[2019-07-04 14:33] Jelvooo commented on #67
Hi @DamienHarper , I tried to clear it now but it still says no changes

[2019-07-04 15:32] DamienHarper commented on #67
Hum that's strange...
Are you on Symfony 4 or Symfony 3.4?
Is doctrine metadata cache enabled? If yes, what king of cache is configured (filesystem, APCu, Redis...)?

[2019-07-05 11:55] DamienHarper commented on #67
@Jelvooo any news about this?

[2019-07-05 11:56] Jelvooo commented on #67
Hey @DamienHarper tuesday I am at work again. Then i will look into it, the cache is filesystem.

[2019-07-05 11:58] DamienHarper commented on #67
@Jelvooo okay, try emptying the cache folder (`rm -rf /path/to/project/var/cache/*` on linux for example)

[2019-07-05 13:08] DamienHarper commented on #66
@hason sorry for this late reply, I've been very busy lately. I'll have a closer look at your issue asap

[2019-07-09 06:33] Jelvooo commented on #67
Still " [OK] Nothing to update - your database is already in sync with the current entity metadata."

[2019-07-09 06:52] Jelvooo commented on #67
I only have 1 file added by the way, the dh_doctrine_audit

[2019-07-09 07:35] DamienHarper commented on #67
@Jelvooo that’s very strange. Can you try to run `bin/console doctrine:migrations:diff` and look at the generated migration please?
If your project is quite small (and shareable), could you please send me a zip of the project so that I can have a closer look?

[2019-07-09 08:16] Jelvooo commented on #67
Sorry I can't share the project. If I run the command it wants to open a file editor with this content:
[code]

[2019-07-09 08:48] DamienHarper commented on #67
Did you prepend the command with php? (`php bin/console...`)?
I suspect something’s wrong in your project, it should have created a migration :/

[2019-07-09 09:21] Jelvooo commented on #67
No migration created :(

I used php bin/console yes.

[2019-07-20 11:50] n3o77 opened #69 "Revision reference to see all changes made in one transaction"
Thank you very much for this bundle @DamienHarper .

Is it possible to have a revision number which bundles all changes made in one transaction? i.E. when updating a entity with many relations it would be nice to get all these changes without relying on user and timestamp.

[2019-07-23 18:01] acanicatti opened #70 "AuditSubscriber injects a LoggerChain into a LoggerChain when loading fixtures"
When loading doctrine fixtures, the following code in the onFlush method of the AuditSubscriber seems to be buggy:

[code]

The `loggerBackup` variable is of type `Doctrine\DBAL\Logging\LoggerChain` (which implements SQLLogger). In the code above a new LoggerChain is created and an AuditLogger is added to it. But then the loggerBackup is also added to the new LoggerChain since LoggerChain implemen

[2019-07-30 16:08] DamienHarper commented on #67
Hi @Jelvooo, do you still face this issue? I haven't been able to reproduce it on my side

[2019-07-30 16:10] DamienHarper commented on #69
Hi @n3o77!
Revision number is not on the roadmap right now as you are the first one to request such a feature.
I need to think about it a bit more.

[2019-07-30 16:14] n3o77 commented on #69
Thanks for considering it. I might need this soon in a project so i'm happy to send you a PR but would love to get your input on it first.

[2019-07-30 16:45] DamienHarper commented on #70
Hi @acanicatti. Thanks for your feedback.

I think something else is the root cause of your infinite loop, let me try to explain your snippet

Right, it it used to backup the current logger instance of the doctrine connection. It may be a `LoggerChain` instance, let's call it `LoggerChain#123`

Right, we create a blank `LoggerChain` instance (let's call it `LoggerChain#456`) then add to it an `Aud

[2019-07-30 18:02] acanicatti commented on #70
Hi Damien,

Yep, I totally understand what you're saying. My issue was that the call stack was too big because my project loads many many fixtures - which are flushed in one transaction at the end of the command. So yes, the `LoggerChain::startQuery()` method is looping over logger instances that are all different objects, but it was doing it too much and getting the max_nesting_level error.

I've

[2019-07-30 18:57] DamienHarper commented on #69
@n3o77 Great, I'd be happy to review it

[2019-07-30 20:28] bzoks commented on #70
Hi!
I have similar issue, but didn't had time yet to debug it and figure our reasons...
In my case I execute hundreds of inserts and then issue a commit... and hit a `maximum function nesting level...` from xdebug, even `with xdebug.max_nesting_level = 1000`

[2019-07-30 20:39] acanicatti commented on #70
@bzoks agreed. I think the simplest solution would be for the AuditSubscriber to detect if the current SQLLogger is a LoggerChain and "flatten" it by appending its children to the newly created LoggerChain. This way a LoggerChain could never exist inside another LoggerChain. (I'm not sure if this has side effects, but I don't see any reason the chain of SQLLoggers can be one flat chain as opposed

[2019-07-30 21:14] DamienHarper commented on #70
@acanicatti @bzoks I reopened the issue to keep it in sight.
I was thinking of something like what @acanicatti suggested: flattening loggers if possible. I'll dig into it asap.
Anyway, feel free to submit a PR, I'd be happy to review/merge it ;)

[2019-07-30 21:19] acanicatti commented on #70
Will do as soon as I get the chance! Thanks again for the help!

Anthony

[2019-07-31 16:31] acanicatti commented on #70
Not sure if this is a related issue but now I'm having a problem with this code in the `AuditHelper` class:
[code]
For whatever reason one of my entities is not being initialized properly and the `id` function is returning null. So the `pkValue` var is null and casting to a string throws an Exception. The Proxy object is clearly not initialized but calling the `initialize` function doesn't seem to

[2019-08-16 14:27] MylesKingsnorth01 opened #73 "Single table inheritance"
I have an abstract entity which uses single table inheritance. Using a discriminator map, I'm mapping 3 entities that extend my abstract entity.

In my `dh_doctrine_audit.yaml` under entities, I've put my parent class. Whenever I change one of the subclasses, no audits are created. I also did try splitting my audit config out by including the 3 entities individually.

Here is my yaml config:

[cod

[2019-08-19 11:40] DamienHarper commented on #73
@MylesKingsnorth01 Thanks for the report, I will look at this asap.

[2019-08-28 15:20] DamienHarper commented on #41
PR #76 has been merged allowing such feature.

[2019-08-29 13:31] DamienHarper commented on #73
@MylesKingsnorth01 it should work if you add each child entity that extend your abstract entity to the `dh_doctrine_audit.yaml` configuration file.

[2019-08-30 22:12] DamienHarper commented on #67
Closed as I haven't been able to reproduce the issue and no feedback have been provided for a month.

[2019-08-30 22:12] #67 closed

[2019-08-30 22:17] DamienHarper commented on #70
@acanicatti Could you provide me some concrete code (either as attachments or as a private gist) that reproduce the issue? it would be very helpful

[2019-09-05 16:02] DamienHarper commented on #70
Fixed by #72

[2019-09-05 16:02] #70 closed

[2019-09-06 15:18] DamienHarper commented on #66
@hason can you test against `master` branch?

[2019-09-06 15:28] DamienHarper commented on #73
As long as I can't reproduce the issue and no feedback is provided, I close this issue.
@MylesKingsnorth01 Feel free to reopen if needed.

[2019-09-09 13:49] DamienHarper commented on #69
@n3o77 I just merged a feature that should fulfill your request, can you test `master` branch and provide some feedback?

[2019-09-09 14:55] n3o77 commented on #69
@DamienHarper you're awesome, thank you so much! I'll check it out in a bit.

[2019-09-09 15:03] n3o77 commented on #69
Looks good so far. Only thing missing is the view.

Again, thank you very much!

[2019-09-09 15:38] DamienHarper commented on #69
Yeah, I'm working on it ;)
But I wanted to push the main (backend) part early to get feedback before really working on the UI part.

[2019-09-09 22:49] DamienHarper commented on #69
@n3o77 timeline now displays the transaction hash for each element. By clicking a transaction hash, you get a complete overview of the operations included into the transaction.
Just checkout `master` branch and give me some feedback please ;)

[2019-09-10 10:49] n3o77 commented on #69
Looks awesome. One little bug: if you update to this version with existing data and there's no hash it throws an error because the route can't be generated here: https://github.com/DamienHarper/DoctrineAuditBundle/blob/master/src/DoctrineAuditBundle/Resources/views/Audit/entry.html.twig#L18

[2019-09-10 11:33] DamienHarper commented on #69
Good catch, a fix is on its way

[2019-09-10 12:38] DamienHarper commented on #69
@n3o77 should be fixed on `master` branch

[2019-09-10 12:49] n3o77 commented on #69
looks good!

[2019-09-10 13:24] DamienHarper commented on #69
Ok, it will be part of next major release.
I close this issue. Feel free to reopen it if needed.

[2019-09-10 13:24] #69 closed

[2019-09-10 15:36] DamienHarper commented on #66
I close this issue for now. Feel free to reopen if needed.

[2019-09-10 15:36] #66 closed

[2019-09-16 12:48] mechemsi opened #85 "php bin/console audit:schema:update something with steps"
So I am trying to launch command ang I get "Unable to display the estimated time if the maximum number of steps is not set.". where do I set them?
php bin/console audit:schema:update
Introspecting schema...

  Unable to display the estimated time if the maximum number of steps is not
  set.

[2019-09-16 12:55] DamienHarper commented on #85
@mechemsi Thanks for the report, I've never encountered such an issue :/
I need to investigate a bit so can you tell me more about your environment:
- what version of the bundle are you using? (latest stable or "unstable" `master` branch)
- what kind of database are you using and which version? (MySQL 8, Postgresql...)
- are you in the process of upgrading an already audited schema or are you sett

[2019-09-16 13:06] mechemsi commented on #85
using 2.5 version
mysql 8 database
trying to set up for the first time with seperate database for audit log

[2019-09-16 13:08] DamienHarper commented on #85
Thanks. I'll look at it in a few hours and keep you updated

[2019-09-16 20:14] DamienHarper commented on #85
@mechemsi well, I can't find a way to reproduce the issue other than running the command on a system with no audited entity :/
Is that your case? Can you post your `dh_doctrine_audit.yaml` file?

Can you test `master` branch and provide some feedback?

[2019-09-17 08:17] mechemsi commented on #85
Also bin/console doctrine:schema:update --force doesnt create audit tables now i checked, do not know why.

dh_doctrine_audit.yaml:

dh_doctrine_audit:
    enabled: true
    table_prefix: ''
    table_suffix: '_audit'
    entities:
        App\Entity\Company: ~

and services.yaml:
dh_doctrine_audit.manager:
        class: DH\DoctrineAuditBundle\AuditManager
        arguments: ["@dh_doctrine_audit.

[2019-09-17 10:13] mechemsi commented on #85
okay with command ` php bin/console doctrine:schema:update --em=log --force` i created tables but needed to change entity manager settings to match default to create audit tables, but audit trying to insert data to default database instead to second one even when I have configured for second database as i posted above

[2019-09-18 14:26] DamienHarper commented on #85
@mechemsi I'll update the `README.md` file to add the `--em` option when using a separate database, thanks for the reminder.

Then I don't really understand what you mean with:

[2019-09-18 15:53] Herz3h opened #87 "Enable auditing for all entities"
Hello,

How do you enable auditing for all entities ?

Another question: Is it possible to use the views for [DATA-DOG/DataDogAuditBundle](https://github.com/DATA-DOG/DataDogAuditBundle) ?

**Note:** Also I see that in the README it is said that this bundle is inspired by [DATA-DOG/DataDogAuditBundle](https://github.com/DATA-DOG/DataDogAuditBundle), it would be nice to mention the key differences.

[2019-09-18 20:32] DamienHarper commented on #87
@Herz3h Hi, thanks for your feedback.
You have to list all of your entities in the configuration file to enable auditing for all of them.
Regarding your note about key differences between this bundle and DATA-DOG/DataDogAuditBundle, you're right: there is nothing about this in the `README.md`

Let me try to list a few key differences:
- DoctrineAuditBundle stores audits in separate audit tables wh

[2019-09-20 10:40] mechemsi commented on #85
Yea for some reason some configuration of entity manager had to match default one , fields dir and prefix then audit tables are created in second database, but also main tables not only audit ones are created. But after creating audit tables in second database audit bundle makes sql query to insert data to default database (which doesnt have audit tables), when configuration is for other database

[2019-09-20 11:39] DamienHarper commented on #85
I'm going to try to reproduce on a test environment

[2019-09-22 22:48] DamienHarper commented on #85
@mechemsi Can you test against `master` branch again please? I've just pushed some changes regarding using a secondary database to store audits.

**Note:** you have to change your `services.yaml` as described [here](https://github.com/DamienHarper/DoctrineAuditBundle#custom-database-for-storage-audit)

[2019-09-23 10:14] mechemsi commented on #85
Now it is working, posting to second database, but found one configuration thing, if I only leave configuration in `services.yaml` as now described in documentation `doctrine:schema:update` doesn't create audit tables in second database, but if I use configuration like that:

    dh_doctrine_audit.manager:
        class: DH\DoctrineAuditBundle\AuditManager
        arguments: ["@dh_doctrine_audit.c

[2019-09-23 12:53] DamienHarper commented on #85
@mechemsi well, I do not need such configuration to have it work: setting the dedicated (secondary) entity manager suffice in my test environment.

Here is my configuration as an example:
[code]
[code]
Then, running `bin/console doctrine:schema:update --force` creates both regular tables in main database and audit tables in secondary database.

But, `bin/console doctrine:schema:update` only displa

[2019-09-24 09:50] mechemsi commented on #85
Okay thanks now it is completely working :)

[2019-09-24 10:04] mechemsi commented on #85
`bin/console doctrine:schema:update --force` not creating now tables if i use configuration like yours for some reason, to create tables my entity manager config must be like this

            log:
                naming_strategy: doctrine.orm.naming_strategy.underscore
                connection: log
                mappings:
                    Log:
                        is_bundle: false

[2019-09-24 10:06] DamienHarper commented on #85
@mechemsi can you post (or use a private gist if you prefer) your `doctrine.yaml` and `services.yaml` files please?

[2019-09-24 10:57] mechemsi commented on #85
[code]
[code]

[2019-09-24 15:27] DamienHarper commented on #85
@mechemsi ok, I can't figure out right now why you have to set the mappings part in your `doctrine.yaml` file to have it work, it works without this on the systems I did my tests.

I close this issue for now as you confirmed everything works now. Feel free to reopen it otherwise.

[2019-09-24 15:27] #85 closed

[2019-09-27 10:56] MylesKingsnorth01 commented on #73
Sorry for not getting back to this in a while.

So as you've said, I added all child entities to my configuration. When I update one of the child entities, the audit shows for all children. Is that the intended behaviour? It's a bit misleading.

[2019-09-27 13:25] DamienHarper commented on #73
Hi @MylesKingsnorth01, well it is not the intended behavior and looks like a bug, I re-open the issue and will have a look at it.

[2019-09-27 17:17] DamienHarper commented on #73
@MylesKingsnorth01 I think I misunderstood what you meant: the current behavior is intended.

Single table inheritance in Doctrine means that you use one table (let's call it root table) to store different entities, all sharing the same root. The root table has a column dedicated to identify which entity a record belongs to (discriminator column).
So when you create/modify a child entity, it is st

[2019-09-30 08:55] DamienHarper commented on #73
@MylesKingsnorth01 I've implemented the missing part of the inheritance support. Can you please test `master` branch?
Note: run the `bin/console audit:schema:update` command if you already have audit tables.

[2019-09-30 11:09] MylesKingsnorth01 commented on #73
@DamienHarper Thanks for taking a look. I can confirm that your update works as expected. I tested a couple scenarios and they all worked. Thanks for adding the missing part.

[2019-09-30 11:16] #73 closed

[2019-10-01 07:40] n3o77 opened #91 "Upgrate to latest master (d986e85) removes all audit tables"
I was on commit cec3178 after you implemented #69 . When I upgraded to d986e85 this morning it will remove all audit tables. Did any configuration change which I need to adjust?

[2019-10-01 07:46] DamienHarper commented on #91
@n3o77 sorry for the inconvenience even if it should not have happened. `master` branch is an unstable branch.
Could you please post (or share with private gist) you current configuration files (`doctrine.yaml`, `dh_doctrine_audit.yaml`)?
Note: you can set composer to use a specific commit for this bundle while I have time to investigate (`composer require damienharper/doctrine-audit-bundle dev-ma

[2019-10-01 07:54] n3o77 commented on #91
no worries, i know master isn't stable so no harm done.

my config is actually very basic

[code]

[2019-10-01 08:14] DamienHarper commented on #91
@n3o77 do you use a secondary database to store audits?

[2019-10-01 08:23] n3o77 commented on #91
no, same db

[2019-10-01 13:10] calvera opened #92 "Does not work with non-integer ID"
hi, I use uuid for primary keys, and therefore cannot use your bundle, how difficult is to change the code to support non-integer ids?

thanks

[2019-10-01 13:11] DamienHarper commented on #92
@calvera Is will be possible in a few days when v3.0.0 is released.

[2019-10-01 13:13] DamienHarper commented on #87
@Herz3h I close this issue as it hasn't received feedback recently.
Feel free to re-open it if needed.

[2019-10-01 13:13] #87 closed

[2019-10-01 13:40] calvera commented on #92
so looking forward to it :) thanks

[2019-10-01 13:40] #92 closed

[2019-10-01 14:26] calvera commented on #91
tried to switch to dev-master and all tables are marked for remove in doctrine migration script

[2019-10-01 14:53] n3o77 commented on #91
@DamienHarper no hurry, i went back to an older version which works fine for me. Thank you very much for all the work.

[2019-10-02 16:09] DamienHarper commented on #91
@n3o77 @calvera Could you please try `master` branch and report me any encountered issue?

**Note**: as [mentioned](https://github.com/DamienHarper/DoctrineAuditBundle#creating-and-updating-audit-tables) in the `README.md`, audit tables are created automatically by `doctrine:schema:update` anymore, you have to run `audit:schema:update` to create/update audit schema/tables.

[2019-10-02 17:10] n3o77 commented on #91
I think this is the issue. We're using doctrine migrations so doctrine doesn't recognize these tables and will drop them in the migration file.

To be precise i'm using the [symfony maker bundle](https://symfony.com/doc/current/bundles/SymfonyMakerBundle/index.html) and run `bin/console make:migration`.

[2019-10-02 20:46] DamienHarper commented on #91
@n3o77 Well, it shouldn't be the case. What options do you pass to `doctrine:schema:update` to get the queries you put in your migrations?
By default, `doctrine:schema:update` only take into consideration tables mapped to entities. So it does not generate `DROP TABLE` queries about other tables (audit tables for example).
It only does so if you pass it the `--complete` option.

[2019-10-02 20:51] n3o77 commented on #91
I'm executing `bin/console make:migration` which runs `doctrine:migrations:diff` in the background: https://github.com/symfony/maker-bundle/blob/master/src/Maker/MakeMigration.php#L79

[2019-10-02 20:55] DamienHarper commented on #91
You’re right, I’ll have a closer look at it ;)

[2019-10-02 22:08] Tersoal commented on #87
Hi.

This bundle sounds interesting. I work with knp doctrine behaviors, blameable and softdeletable options. Are they supported like stof?

Thank you for your great job.

[2019-10-03 07:49] calvera commented on #91
i think that the reason for dropping the tables is that migrations drops all other tables than managed by entities

[2019-10-03 15:43] DamienHarper commented on #87
@Tersoal Thanks for your interest. This bundle is compatible with stof extensions, it is designed to work with softdeletable and as far as I know it is ok with other extensions.

[2019-10-03 15:45] Tersoal commented on #87
Thank you so much. I will try this bundle for audit my entities. I see that logs are saved as raw SQL... I enjoy it!

Again, good job and thank you for your time and effort.

[2019-10-03 16:06] DamienHarper commented on #91
@n3o77 @calvera
Ok, I figured out what's going on:
- Previously (at the time I used a schema listener), `doctrine:migrations:diff` initially attempted to remove unmapped tables from the schema but the schema listener prevented this by adding them back. Then, Doctrine's schema tool was clever enough to "understand" that doing a `DROP TABLE` then a `CREATE TABLE` was useless so it didn't include all

[2019-10-03 16:27] n3o77 commented on #91
Thanks for looking into that. The issue we will be having with this approach is that we loose the DB downgrade queries in the migration file or would have to create them manually, which even with a relatively small DB is quite time consuming.

It will also add additional steps to remember for every developer when doing a DB change. A common workflow for us is using maker bundles entity command to

[2019-10-03 17:17] DamienHarper commented on #91
Thanks for the feedback.

I understand what you say and do not feel comfortable with this solution too. So be reassured, I won’t release any new major version until I find a real solution. As I said, the above approach is a workaround and should be considered temporary.
I already have an idea on how to solve this.
Ultimately, the above approach will be only relevant to people using a secondary dat

[2019-10-03 23:00] DamienHarper commented on #91
@n3o77 I just merged some changes that should solve your issues. Feel free to give `master` branch a test and give me some feedback ;)

[2019-10-04 07:19] n3o77 commented on #91
@DamienHarper again, thank you so much for putting in so much effort. Change looks good to me so far, i'll see how it behaves on my test project the next few days.

[2019-10-07 15:34] kl3sk commented on #18
This is just a proposal, but a revert feature may be a great improvement:

https://github.com/DamienHarper/DoctrineAuditBundle/pull/98

[2019-10-11 06:43] DamienHarper commented on #91
@n3o77 did you have a chance to try out `master`branch?

[2019-10-11 08:38] mklenk commented on #91
I had the same issues and the current master seems to resolve them.
Now `doctrine:migrations:diff` is generating the correct migrations as before. So no more `DROP TABLE` statements and the audit table migrations for my new entities are created as before.

Does this mean that `audit:schema:update` isn't needed anymore?

[2019-10-11 08:53] DamienHarper commented on #91
@mklenk thanks for the feedback!

No, `audit:schema:update` command is **still** needed:
- to upgrade your schema if you are upgrading from an older version of the bundle
- if you are using a **dual** database setup (audits are stored in a secondary database -- cf [documentation](https://github.com/DamienHarper/DoctrineAuditBundle/blob/master/doc/20-general-configuration.md#storage-configuration))

[2019-10-11 11:52] n3o77 commented on #91
@DamienHarper so far everything runs fine for me regarding this isssue. But still need to update to the latest branch with the security annotations to give you feedback on that.

[2019-10-11 12:12] DamienHarper commented on #91
@n3o77 thanks for the feedback. Do just checkout `master`, it's already merged into `master`

[2019-10-14 11:02] n3o77 commented on #91
@DamienHarper i just moved another project to this bundle from the simplethings audit bundle. I'm on commit 4228267 (latest master) and now have the same issue again. It will drop all audit tables instead of updating them. Same config as above.

I assumed that it might be because the tables need to be updated instead of created. But even if remove all the tables before and then run the command the

[2019-10-14 11:07] n3o77 commented on #91
This is on symfony 3.4 not 4.x.

[2019-10-14 11:13] n3o77 commented on #91
@DamienHarper sorry my mistake. Everything is working as expected.

[2019-10-15 20:43] DamienHarper commented on #91
@n3o77 I close this issue for now. Reopen it if needed.

[2019-10-15 20:43] #91 closed

[2019-10-15 21:12] dirkjf opened #106 "Decimals,"
When I have any decimal type in my entity, upon updating the entity a new audit record is saved in which it seems the value was changed. This is even the case when I set the scale in my form to 1. For example, if I have a number saved as 5.0 in my database, when I edit the entity and do not touch this number, for this value "{"old":"5.0","new":"5"}" is saved.

I am using MariaDB version 10.3.15 on

[2019-10-15 21:19] DamienHarper commented on #106
@dirkjf thanks for the report. I’ll have a look at it asap.

[2019-10-18 08:45] DamienHarper commented on #106
@dirkjf Could you please test again `master` branch and provide me some feedback?

[2019-10-18 11:02] dirkjf commented on #106
Tested it again, but I still have the same issue. Every time I update for all decimal values: {"old":"5.0","new":5}. And although it may show only "5" in the form, the actual data that is stored is "5.0".

[2019-10-18 11:07] dirkjf commented on #106
BTW, also when in my form I type "5.0", I get the same {"old":"5.0","new":5}.

[2019-10-18 11:15] dirkjf commented on #106
I ran some more tests. What helps (FOR ME) is to type cast the value to a float. So when I use on line 160 of AuditHelper.php: `$convertedValue = (float) $type->convertToPHPValue($value, $platform);` it works as I would expect. I don't know if this could be problematic for other users.

[2019-10-18 11:57] DamienHarper commented on #106
@dirkjf ok but bothers me is that on `master`, decimals are process as you describe (since my last changes): https://github.com/DamienHarper/DoctrineAuditBundle/blob/master/src/DoctrineAuditBundle/Helper/AuditHelper.php

[2019-10-18 12:04] dirkjf commented on #106
I understand. Maybe [this](https://stackoverflow.com/questions/40531133/decimal-return-string-in-doctrine) is why?

[2019-10-18 18:45] n3o77 opened #110 "Drop + Create Indexes everytime schema update is executed"
Hi @DamienHarper

I noticed another weird bug, not critical but weird. Every time when I execute `doctrine:schema:update --force` it will drop all audit indexes and create them again.

SF3.4
10.1.38-MariaDB-0+deb9u1

`./bin/console doctrine:schema:update --force --dump-sql`
[code]

[2019-10-20 10:07] DamienHarper commented on #110
@n3o77 Thanks for the report, does this only happen on specific tables (country and charge in your example) ? or does this happen on every table ? or does this happen on random tables ?

Could you please post entities this happens on?

[2019-10-20 10:12] n3o77 commented on #110
happens on every table

[2019-10-21 09:54] n3o77 opened #111 "Exception: Argument 2 passed to Symfony\Component\EventDispatcher\EventDispatcher::dispatch() must be an instance of Symfony\Component\EventDispatcher\Event or null"
Hi @DamienHarper i'm getting the following exception with SF3.4 on latest master ba531863eead913f6fdcf41a9e7ceece1aec9498 .

[code]

[2019-10-21 10:00] n3o77 commented on #111
@DamienHarper thank you very much as always. No hurry though.

[2019-10-21 14:37] DamienHarper commented on #111
can you post the result of `composer show`?

[2019-10-21 14:49] DamienHarper commented on #111
My bad, I messed up my last refactoring... It should be ok on `master` now.

[2019-10-21 14:50] n3o77 commented on #111
i'll try soon. As always thank's a lot for being so responsive

[2019-10-21 19:56] n3o77 commented on #111
Still getting the following exception on d68003dbad992b42b841e355ee754566892bbcfe

[code]

[2019-10-21 20:08] DamienHarper commented on #111
@n3o77 well I think I found the problem

[2019-10-21 20:13] DamienHarper commented on #111
can you test using [event-compat](https://github.com/DamienHarper/DoctrineAuditBundle/tree/event-compat) branch?

[2019-10-22 07:13] DamienHarper commented on #110
@n3o77 It looks like you're not alone, the problem seems to be Doctrine related. Did you try to set `server_version` in your doctrine configuration?
- https://github.com/doctrine/orm/issues/6790
- https://symfony.com/doc/current/reference/configuration/doctrine.html

[2019-10-22 11:51] DamienHarper commented on #111
Please, check PR #112

[2019-10-23 11:29] DamienHarper commented on #111
This should be fixed on `master` now

[2019-10-23 11:30] n3o77 commented on #111
Thank you, i'll test later today

[2019-10-23 11:30] n3o77 commented on #110
Looks like it. Will do some tests later today, thank you

[2019-10-25 07:01] DamienHarper commented on #111
@n3o77 it works fine in my symfony 3.4 and symfony 4.3 test projects. I close this issue for now, feel free to re-open if you still face the problem.

[2019-10-25 07:01] #111 closed

[2019-10-28 08:41] versh23 opened #113 "Add custom data"
Hello, is it possible to add custom data to audit entry ?
for example uid http request .

can we create a json field to audit table and do dispatch event before insert payload to table ?

[2019-10-28 09:25] DamienHarper commented on #113
Hi @versh23, thanks for your feedback. It seems a good idea, I need some time to think about it.

[2019-10-28 11:21] versh23 opened #114 "[QUESTION] JOINED inheritance type"
Hello!

i have two entity with `@ORM\InheritanceType("JOINED")`

[code]

[code]

When i add `@Auditable `annotation, bundle want to create two tables.
**child_audit** and **base_audit**
Why ?
is it necessary for what?
There is also descriminator column and its always null if  inheritance type === joined

Can you check is it bug or not ?

[2019-10-28 11:52] versh23 commented on #114
i think https://github.com/DamienHarper/DoctrineAuditBundle/blob/master/src/DoctrineAuditBundle/Event/CreateSchemaListener.php#L55 is not nessesary

[2019-10-28 13:04] DamienHarper commented on #114
@versh23 Class Table Inheritance (Joined inheritance) in not supported as of now. The bundle currently only supports Mapped Superclass and Single Table inheritance.
Though, I'd be happy to review such a PR.

[2019-10-28 15:18] DamienHarper commented on #114
Fixed by #115

[2019-10-28 15:18] #114 closed

[2019-10-29 10:20] DamienHarper commented on #110
@n3o77 any news?

[2019-10-29 11:20] versh23 opened #116 "Metadata early initialization"
Helllo!

here https://github.com/DamienHarper/DoctrineAuditBundle/blob/master/src/DoctrineAuditBundle/AuditConfiguration.php#L114

Metadata initialization very early and its break my loadClassMetadata listener, because there are no listernes in eventManager at this moment and metadata initialized once..

what about change direct access to AuditConfiguration::$entities and use AuditConfiguration::g

[2019-10-29 13:22] versh23 commented on #116
#117 one of possible solution

[2019-10-30 09:30] DamienHarper commented on #116
I close this issue since #117 has been merged.

[2019-10-30 09:30] #116 closed

[2019-10-30 10:32] n3o77 commented on #110
Sorry, didn't have time to test this yet on a maria-db server. But i don't have the problems on mysql so i'd say we can close this issue. If that's not the problem we can reopen it.

[2019-10-30 10:32] #110 closed

[2019-11-01 14:23] jeffesonmaia opened #118 "Problem setting up secondary database"
When adding the `storage_entity_manager` option symfony returns the following error

`Unrecognized option" storage_entity_manager "under" dh_doctrine_audit`

[2019-11-01 21:40] DamienHarper commented on #118
Hi @jeffesonmaia, this option is only available in version 3.0.0 (released today), is this the version you are using? you can check which version you are using with the following command `composer show | grep "doctrine-audit-bundle"`. Also, did you try to clear your cache?

[2019-11-03 23:45] jodeca opened #119 "Hi, command audit:clean not work."
I use version 3. When I execute the "audit: clean" command, it does not delete the data from the audit tables.

Please, your support.

Note: Sorry for my bad English. I use Symfony 4.3.

[2019-11-04 00:03] DamienHarper commented on #119
Hi @jodeca! Thanks for the report, I’ll have a look at it ASAP

[2019-11-04 03:22] jodeca commented on #119
Is it possible that the ID of the records is uuid? or at least we can define the type (integer or uuid) of value that the ID can contain.

Thank you.

[2019-11-04 12:55] DamienHarper commented on #119
@jodeca the command works in my tests.
By default, with no argument, this command keeps the last 12 months of data => are you sure you had data older than 12 months? Can you post the command the you run?

[2019-11-04 12:55] DamienHarper commented on #118
@jeffesonmaia are you still facing the issue?

[2019-11-04 13:04] jeffesonmaia commented on #118
Thanks, for the support! The problem was the version.

[2019-11-04 13:04] #118 closed

[2019-11-04 16:00] jodeca commented on #119
Hi @DamienHarper, the command y data:

- php bin/console audit:clean
- create_at => '2019-11-03 22:15:55'

Thanks

[2019-11-04 16:21] DamienHarper commented on #119
@jodeca thanks for the feedback, but everything seems ok to me: audit data is dated `2019-11-03 22:15:55` and you ran `bin/console audit:clean` => this command will keep 12 months of audit data (it will try to delete anything older than 12 months before the day you run it)

As an example, let's say you run that command on `2019-11-03` it will (try to) delete anything before `2018-11-03`.

[2019-11-04 17:20] jodeca commented on #119
Hi, you are right. I was wrong.

Thank you.

Sorry for the inconvenience.

[2019-11-04 17:21] #119 closed

[2019-11-05 22:38] kxc4182 opened #120 "Losing Audit Data"
| Q                           | A
| ----------------------------| -----------------------
| DoctrineAuditBundle version | 3.0.0
| PHP version                 | 7.2.12
| Database                    | MySQL

#### Summary

I just upgraded to DoctrineAuditBundle v3.0.0 from v2.3.1 and I haven't changed any configuration.
I'm also only using one entity manager for everything.

I tried testing a simple

[2019-11-06 07:28] DamienHarper commented on #120
Hi @kxc4182, thanks for this detailed report. This is weird, I have to investigate and try to reproduce the issue. Is this 100% reproducible on your side?

Could you please also post the result of `composer show`?

[2019-11-06 20:39] kxc4182 commented on #120
I just tried again and upgraded to 3.0.0 and I don't have the issue anymore.
It was probably a problem with dependencies before as you are suggesting with the composer show.
Unfortunately, I didn't save a snapshot of this when I initially found the issue.

[2019-11-06 22:15] DamienHarper commented on #120
@kxc4182 glad to hear that you solved the problem yourself, so I close this issue.

[2019-11-06 22:15] #120 closed

[2019-11-19 07:53] Herz3h commented on #87
Ok thank you for the detailed differences between the two bundle. Unfortunately we have around 150 tables and that will probably increase as time goes. So enabling every entity manually is not convenient so we'll have to opt for another audit tool. Thank you for your efforts tough !

[2019-11-19 08:04] DamienHarper commented on #87
@Herz3h Now that v3.0 is out, you can also easily mark an entity as auditable thanks to an annotation.
Personally I use the bundle at work on several projects, one of them is housing around 400 tables, 3/4 of them are audited, new ones are created regularly and this is not a problem, our developers follow internal development guidelines covering the use of the `@Auditable` annotation.

[2019-11-19 10:02] hardiksinh commented on #87
@DamienHarper As you mentioned above

this should work with soft delete of doctrine extension but in my case it is not working.

I am using below extension:
[https://github.com/Atlantic18/DoctrineExtensions](https://github.com/Atlantic18/DoctrineExtensions)
In doctrine.yaml:
[code]
In entity, used annotations for soft-deleting field:
`use Gedmo\Mapping\Annotation as Gedmo;`
[code]
If currently it

[2019-11-19 10:55] DamienHarper commented on #87
Hi @hardiksinh, it should work (`Atlantic18/DoctrineExtensions` is the library used by `StofDoctrineExtensionsBundle`).

Let's put aside the audit bundle, does the `SoftDeletable` extension work on your system (if you remove a `User` instance and flush, this instance is not deleted but its `deletedAt` field is updated)?

Also, as long as this problem is different from the topic of this thread (cur

[2019-11-19 11:13] hardiksinh opened #122 "Issue with softdeleteable entity with doctrine extension"
As mentioned in https://github.com/DamienHarper/DoctrineAuditBundle/issues/87
Soft-delete is not getting recorded in audit table of entity though deleted_at field updating and soft-delete filter works fine.

Extension I am using:
[https://github.com/Atlantic18/DoctrineExtensions](https://github.com/Atlantic18/DoctrineExtensions)

Symfony: 4.3.8

[2019-11-19 11:17] DamienHarper commented on #122
@hardiksinh I suppose you're using v3.0 of the bundle so you may use the configuration file only or both config file and annotations so could you post your `dh_doctrine_audit.yaml` file and eventually the annotations you use in your one of your entities (one that should be audited and has softdeletable behavior)

[2019-11-19 11:23] hardiksinh commented on #122
I haven't used annotation in user entity but used entity namespace in config file.

config\packages\dh_doctrine_audit.yaml
[code]

[2019-11-19 12:54] hardiksinh commented on #122
Tried with using annotation in the Relationship entity but same issue. Add and update recorded but soft-delete not.

Relationship.php
[code]

Deleting in RelationshipController.php

[code]

NOTE: I used LONGTEXT instead of JSON type in migrations of audit tables for diff column because MariaDB of my XAMPP is not supporting JSON field type.

DoctrineAuditBundle: 3.0.0
DoctrineExtensions: 2.4.26
Mar

[2019-11-19 13:22] DamienHarper commented on #122
Well that's weird. It might be that the softdelete listener is fired after the audit one. I need to investigate a bit more.

[2019-11-19 14:24] Herz3h opened #123 "Database structure"
I've tried this bundle, it works pretty well with the annotation addition. However there are not many functions to retrieve data from database.

In my specific situation I would like to retrieve all the ASSOCIATE + DISSOCIATE events for an entity, but the setFilter seems to support only one filter at a time.

So as a workaround, I'd use DQL (or SQL probably... Not sure if it's possible to use DQL

[2019-11-19 14:26] DamienHarper commented on #123
@Herz3h thanks for the suggestion. I'll add that feature in a next release.

[2019-11-19 14:28] DamienHarper commented on #123
Regarding database structure change, it does not happen frequently. Most of the time, it consists of adding new columns so your code should not break ;)

[2019-11-19 21:04] yspef opened #124 "After upgrading to doctrine-bundle 2.0 - dependency injection missed type hint"
during my last composer update command, the doctrine-bundle changed to 2.0

 - Removing doctrine/doctrine-cache-bundle (1.3.5)
  - Updating doctrine/doctrine-bundle (1.11.2 => 2.0.0): Loading from cache
  - Updating doctrine/orm (v2.6.4 => v2.7.0): Loading from cache

From this moment on, I got the error :

!!  In TwigExtension.php line 30:
!!
!!    Argument 1 passed to DH\DoctrineAuditBundle\Twig

[2019-11-19 22:08] DamienHarper commented on #124
Hi @yspef, I'm a bit confused, what version of this bundle are you using? You can run `composer show | grep "doctrine-audit-bundle"` and report it back here.

I strongly encourage you to upgrade to the latest version of the audit bundle (cf. [How to upgrade?](https://github.com/DamienHarper/DoctrineAuditBundle/blob/master/CHANGELOG.md#how-to-upgrade))

[2019-11-19 22:13] DamienHarper commented on #106
I close this issue as this is more a Doctrine one.

[2019-11-19 22:13] #106 closed

[2019-11-19 23:15] maxhelias commented on #124
RegistryInterface & Registry are marked deprecate since DoctrineBundle 1.12 (doctrine/DoctrineBundle#1052) and already remove in 2.0.
You must use ManagerRegistry to get doctrine on 2.0

[2019-11-20 00:14] DamienHarper commented on #124
@yspef @maxhelias This should be fixed on `master` branch.

[2019-11-20 00:23] yspef commented on #124
It gives :

damienharper/doctrine-audit-bundle  3.0.0      This bundle creates audit logs for all doctrine ORM database related changes.

[2019-11-20 00:28] yspef commented on #124
Upgraded to dev-master solves the issue.
Thanks.
Regards.

[2019-11-20 00:28] #124 closed

[2019-11-20 10:16] Herz3h commented on #123
Ok good, finally I have decided to retrieve all events without any filter until the feature is available.

[2019-11-20 12:25] YetiCGN commented on #124
I am experiencing the same problem. Can you release this as 3.0.1, please?

[2019-11-20 13:24] DamienHarper commented on #124
@YetiCGN I will make a new release soon

[2019-11-20 22:15] yspef opened #126 "Localization"
If localization of messages / templates is to be added, I can contribute with the spanish translation.
Regards.

[2019-11-20 23:14] DamienHarper commented on #126
@yspef Localization is on my roadmap and will be integrated in a near future, your contribution will be welcome, thanks! :)

[2019-11-21 07:36] Herz3h opened #128 "GEDMO Tree Extensions + Doctrine Entity Inheritance"
| Q                           | A
| ----------------------------| -----------------------
| DoctrineAuditBundle version | 3.0.0
| PHP version                 | 7.1.31
| Database                    | MySQL
| Symfony | 3.4.32
#### Summary

Just enabling the DHDoctrineAuditBundle (no WhiteOctoberPagerfantaBundle), the tree extension doesn't return node that have relations with entities making use of

[2019-11-21 07:57] DamienHarper commented on #128
@Herz3h thanks for the report, I'll have a look asap

[2019-11-21 11:43] ThomasTr opened #129 "Release 3.0.0 breaks on Symfony 4.4"
| Q                           | A
| ----------------------------| -----------------------
| DoctrineAuditBundle version | 3.0.0
| PHP version                 | 7.3.11

#### Summary

Actual realeased version 3.0.0 breaks when upgrade to Symfony 4.4 because of already fixed [RegistryInterface deprecation](https://github.com/DamienHarper/DoctrineAuditBundle/commit/4d0568d032a104b0b221d0d3a24393d5fe25

[2019-11-21 13:22] DamienHarper commented on #129
@ThomasTr it's already fixed and a new release will be done shortly. In the meantime, you can use `master` branch.

[2019-11-21 17:05] DamienHarper commented on #123
@Herz3h PR#123 should address your request about filtering using several filters at once: you can now use `$reader->filterBy([AuditReader::ASSOCIATE, AuditReader::DISSOCIATE])`

[2019-11-21 17:07] DamienHarper commented on #129
Duplicate of #124

[2019-11-21 17:07] #129 closed

[2019-11-21 22:26] DamienHarper commented on #123
3.1.0 is released

[2019-11-21 22:26] #123 closed

[2019-11-21 22:27] DamienHarper commented on #129
3.1.0 is released

[2019-11-22 07:28] ThomasTr commented on #129
Thank you very much

[2019-11-22 07:31] YetiCGN commented on #124
Thanks, that's great!

[2019-11-22 09:37] DamienHarper commented on #122
@hardiksinh can you try against `event-subscriber-priority` branch?
`composer require damienharper/doctrine-audit-bundle "dev-event-subscriber-priority"`

[2019-11-22 09:37] DamienHarper commented on #128
@Herz3h can you try against event-subscriber-priority branch?
composer require damienharper/doctrine-audit-bundle "dev-event-subscriber-priority"

[2019-11-22 17:11] Herz3h commented on #123
Awesome, thank you !

[2019-11-25 21:22] DamienHarper commented on #122
@hardiksinh did you had a chance to test `event-subscriber-priority` branch?

[2019-11-25 21:22] DamienHarper commented on #128
@Herz3h did you had a chance to test `event-subscriber-priority` branch?

[2019-11-26 14:02] hardiksinh commented on #122
@DamienHarper Sorry I wasn't on this page. No, it does not fix issue.

[2019-11-26 16:15] DamienHarper commented on #122
@hardiksinh I have hard time to debug as long as I cannot reproduce the issue myself :/
Could you please share with me a sample project I could use to reproduce and try to fix the issue please?

[2019-11-26 20:24] Herz3h commented on #128
@DamienHarper Sorry not yet, will try it at work tomorrow and give feedback here ;)

[2019-11-27 12:25] hardiksinh commented on #122
@DamienHarper Created a sample project using same composer.lock file so you can install same versions. Steps are there in readme file including Testing.
[https://github.com/hardiksinh/audit-test](https://github.com/hardiksinh/audit-test)

[2019-11-27 12:39] DamienHarper commented on #122
@hardiksinh Thanks, I’ll have a look ASAP

[2019-11-27 18:56] DamienHarper commented on #122
@hardiksinh Thanks again for the test project, it confirmed what I suspected but couldn't reproduce myself. It should be fixed now. May you have a chance to test once again `event-subscriber-priority` branch and provide me some feedback?

[2019-11-28 14:19] Herz3h commented on #128
I have an issue while trying to install that version.

[code]
I previously had doctrine/orm 2.5, I upgraded to 2.6.6 and stil same issue. I'm trying v2.7.0 now..

[2019-11-28 15:34] DamienHarper commented on #128
@Herz3h OK, I have to investigate more

[2019-11-28 15:43] hardiksinh commented on #122
Yes, this fixes the issue. Thank you very much for your time and efforts.

[2019-11-28 15:44] DamienHarper commented on #122
You're welcome!

[2019-11-28 15:44] #122 closed

[2019-11-29 21:54] jodeca opened #131 "Hi, error when install package 'DoctrineAuditBundle' in symfony 5"
I use Symfony 5 and when install package, return error. I attach imagen.

Thanks
![image](https://user-images.githubusercontent.com/4274107/69891227-e8665080-12c8-11ea-88a1-7c5298d83e8c.png)

[2019-11-30 10:00] Phibus opened #132 "Conflict version of twig/twig in composer.json file"
| Q                           | A
| ----------------------------| -----------------------
| DoctrineAuditBundle version | 2.5.0
| PHP version                 | 7.2.14
| Database                    | MySQL

#### Summary
The conflict version of twig/twig seems to be incorrect in the composer.json file.

#### Current behavior
Composer return an error due to a conflict with twig/twig if you try to ins

[2019-11-30 15:00] dtraore commented on #120
Hello! I just install the bundle,

I'm on symfony 4.2

this is my configuration file:

[code]

the schema update commande work fine
`bin/console doctrine:schema:update --force`

But when I edit or add content, no operation saved, to debug I did dump in the onFlush()

this is where I did dump

[code]

Here the results of dump

![image](https://user-images.githubusercontent.com/7816604/69902153-6212

[2019-11-30 16:05] DamienHarper commented on #131
@jodeca The bundle is not yet compatible with Symfony 5. I'm working on it and I'll release a new version in a few days.

[2019-11-30 16:06] DamienHarper commented on #132
@Phibus Thanks for the feedback, I'll have a look at it ASAP.

[2019-11-30 16:12] DamienHarper commented on #120
@dtraore Thanks for the report, could you please open a dedicated issue? Also, could you post or explain what you do when you say _"[...]when I edit or add content, no operation saved[...]"_

[2019-11-30 16:13] DamienHarper commented on #132
Also, could you please try with the latest version of the bundle?

[2019-11-30 16:49] dtraore commented on #120
OK @DamienHarper

[2019-11-30 16:54] dtraore opened #133 "No operation saved"
Hello! I just install the bundle,

I'm on symfony 4.2

this is my configuration file:

[code]

the schema update commande work fine
`bin/console doctrine:schema:update --force`

But when I update or create content (CRUD operation), There are no change in /audit, to debug I did dump in the onFlush()

this is where I did dump

[code]

Here the results of dump

![image](https://user-images.githubuser

[2019-11-30 17:03] DamienHarper commented on #133
Not only UnitOfWork are different but EntityManager too... that's usually the case when using a secondary database to store audits.
Could you please provide me a sample test project or code sample to reproduce the issue?

[2019-11-30 17:06] dtraore commented on #133
This is my doctrine configuration file content:

[code]
Sorry I don't it is difficult to provide sample test but I can share all configurations files which can help

[2019-11-30 17:08] DamienHarper commented on #133
What's the namespace of your entities? (the ones you want to audit)

[2019-11-30 17:14] dtraore commented on #133
This is a sample of one ENtity

[code]

in my database I have a table called course_audit

And in the Audit route /audit

I have My Entity there DonisoCore\Entity\Course

[2019-11-30 17:17] DamienHarper commented on #133
Your `dh_doctrine_audit.yaml` file mentions `AppCore\Entity\MyEntity` as an audited entity (so under the `AppCore\Entity` namespace) but your `doctrine.yaml` suggests your entities are in `DonisoCore\Entity` and `DonisoUsers\Entity` namespaces.

Are you using version 3.x of the bundle?

[2019-11-30 17:18] DamienHarper commented on #133
Oh you replied before I post my last message :) so I suppose you use 3.X version of the bundle and  annotations to declare which entity is auditable

[2019-11-30 17:19] dtraore commented on #133
this is the real content of my dh config file

[code]

[2019-11-30 17:20] dtraore commented on #133
I'm using 3.0.0 based on composer show command

[2019-11-30 17:21] DamienHarper commented on #133
@dtraore thanks, now I need some time to try to reproduce the issue on my side. I'll keep you updated.

[2019-11-30 17:24] dtraore commented on #133
Ok thanks to you.

[2019-11-30 18:27] jodeca commented on #131
Thanks @DamienHarper. :)

[2019-12-02 16:26] DamienHarper commented on #131
@jodeca could you please try against `master` branch?

[2019-12-02 16:30] DamienHarper commented on #132
@Phibus could you post your `composer.json` (at least the `require` section) to ease debugging please?

[2019-12-02 17:34] jodeca commented on #131
Hi, @DamienHarper, I test and all ok. Thanks for your support.

[2019-12-02 17:56] DamienHarper commented on #131
@jodeca thanks for the feedback

[2019-12-02 17:56] #131 closed

[2019-12-02 21:41] DamienHarper commented on #131
@jodeca 3.2.1 is live with symfony 5 support

[2019-12-02 23:07] jodeca commented on #131
it's great. Thank you very much.

[2019-12-03 13:44] jean-gui opened #136 "Pre-populate audit tables"
I think it would be nice if we had a way to pre-populate audit tables with the current content of the main tables. This would be useful for existing projects which would enable audit while there's already some data. That would allow us to keep a log of this original data even if it hasn't changed and seems more logical than having change events logged for entities that don't have a creation event

[2019-12-03 14:18] jean-gui opened #138 "Flatten history"
There's already a command to clean old audit entries but instead of removing them and losing the original information it could be useful to have a command that would merge all audit entries related to an entity in a single one. Some reasons for doing so are explained at  #136.

[2019-12-03 15:59] jean-gui opened #139 "Bi-directional ManyToOne"
| Q                           | A
| ----------------------------| -----------------------
| DoctrineAuditBundle version | 3.2.1
| PHP version                 | 7.3
| Database                    | MySQL (and lmost likely any database engine)

#### Summary

When you have bi-directionnal ManyToOne associations and if you follow https://symfony.com/doc/current/doctrine/associations.html#setting-inform

[2019-12-03 22:25] Phibus commented on #132
Hello @DamienHarper.
You can find the `composer.json` I used below.
[code]

The composer's version used is the 1.9.1.

[2019-12-03 23:47] DamienHarper commented on #132
@Phibus could you try `updated-twig-deps` branch?

[2019-12-04 09:07] DamienHarper commented on #139
@jean-gui I understand what you expect but the bundle relies on Doctrine and [this is the way Doctrine works internally](https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/unitofwork-associations.html#important-concepts):

[...]
Changes made only to the inverse side of an association are ignored. Make sure to update both sides of a bidirectional association (or at least the ow

[2019-12-04 09:10] #139 closed

[2019-12-04 10:04] jean-gui commented on #139
@DamienHarper Thanks.
Even if Doctrine doesn't monitor the other side of the relationship, I believe it is still possible to get information about the inverse side.
I don't remember very well how it works as it was a long time ago but I have done something along those lines in https://github.com/w3c/W3CLifecycleEventsBundle#onchange. IIRC the code for handling that is at https://github.com/w3c/W3C

[2019-12-04 11:23] DamienHarper commented on #139
@jean-gui well I also thought about something like this before (using entity metadata to get such information).
It should work but would add overhead on every audit operation, mainly because we would have to:
- iterate over every item in entity changeset and check if it belong to the inverse side of a relationship
- alter or construct the relevant audit entries depending on the changeset itself an

[2019-12-04 11:28] jean-gui commented on #139
Agreed, there is some overhead and multiple cases to take into account. Unfortunately I'm afraid I won't have time to submit a PR. I'll see about changing my entities and if someday the feature gets implemented I'll be very happy!

[2019-12-04 15:34] DamienHarper commented on #128
@Herz3h could you please provide me a sample project that reproduces the issue please? It would be very helpful.

[2019-12-04 18:32] DamienHarper commented on #133
@dtraore could you post the result of `bin/console debug:config DoctrineBundle` please?
Also, a sample of code that reproduce the issue would be helpful.

[2019-12-05 12:58] Herz3h commented on #128
I'm currently having the problem on an application I can't really share the source code with anyone (company app)... Is there a specific file where the compatibility with GEDMO extensions is handled so I could take a look perhaps ?

[2019-12-05 14:20] yspef opened #141 "After upgrading to Symfony 4.4 pagerFanta is missing"
I've upgraded to Symfony 4.4 and the PagerFanta bundle is removed, so now I got an "Unknown "pagerfanta" function." error.

See : https://github.com/symfony/demo/commit/11c17177fd819a0737c04ccb73fc584675d83436

Now I'm using v3.1 of this bundle.

[2019-12-05 14:25] yspef commented on #141
Have to update my customized templates.

[2019-12-05 14:25] #141 closed

[2019-12-05 16:33] n3o77 opened #142 "Please don't change paths / namespaces in patches"
Hi @DamienHarper thanks again for putting so much work into this bundle.

I just upgraded a few projects from 3.2.1 to 3.2.2 and a lot of our templates broke because the helper paths were changed, which wasn't expected in a patch version change as these should be BC. Also a mention in the change log would be awesome so in the future it's not necessary to manually check everything. Unfortunately th

[2019-12-05 16:38] DamienHarper commented on #142
@n3o77 I'm sorry for the inconvenience, you're right these changed should have been postponed to next major. I used to add a mention in the changelog which I forgot to do in latest release.
I'll update the changelog ASAP.

[2019-12-05 16:38] #142 closed

[2019-12-05 16:40] n3o77 commented on #142
Thanks you so much. I think a good solution would be to still have the old file which includes / extends the new one and throws an deprecation notice.

[2019-12-05 22:57] DamienHarper commented on #128
I fully understand that you can't share the entire app but could you for example extract the classes (entities) composing your tree (strip your business/private stuff from them) and the instructions that populate and persist the tree (instructions which trigger the issue) so that I can start with a concrete reproducible use case?

[2019-12-08 09:11] patrickmatsumura opened #144 "Let the cleanup command accept an ISO 8601 duration"
It would be very handy for the cleanup command to [also] accept an ISO 8601 duration ([https://en.wikipedia.org/wiki/ISO_8601#Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)) as `keep` parameter, e.g. `P7D` to only delete records that are older than 7 days. Being able to define an arbitrary duration could be quite useful.

I could work on this if you want. Just let me know.

[2019-12-08 17:00] DamienHarper commented on #144
@patrickmatsumura thanks for the suggestion, it might be useful for some. To be honest, I haven't planned such feature soon so if you want to contribute, feel free to submit a PR, it will be much appreciated ;)

[2019-12-08 17:36] patrickmatsumura commented on #144
Ok. I have a client that has very strict retention policies. Monthly intervals would not fit their requirement and must have a at least daily precision. :)

Would you rather have a new parameter or would you like to keep `keep`? I think keeping `keep` and still allowing numerical values should result in the subtraction of months, as it does now. If the value is a string starting with the capital l

[2019-12-08 17:53] DamienHarper commented on #144
@patrickmatsumura I also think that `ISO-8601` is more flexible than the actual solution and should replace it in the future (next major version). I also would like to keep `keep` argument and allow it to receive both numerical and string values to avoid BC break. Then:
- If a numerical value is provided, it should behave as it behaves now: drop data older than number of month provided from today

[2019-12-09 14:21] garak opened #145 "Possibility to add custom action"
I need to audit a custom action, e.g. an action that is not the typical "insert", "update", etc.
So, what I tried first is to define my service, inject `AuditManager` in it and do something similar to `insert` method (or `update` method, etc.).
It works, the only issue is that I had to copy/paste the entire `audit` method, since it's private.

My proposal is to increase visibility of such method,

[2019-12-10 10:09] gam6itko opened #147 "How to change diff data or cancel audit entry insertion"
Hello. Often when i save my entity which has decimal type property I got audit `diffs` like this:

[code]
[code]

As you see this information not about real value changes, it's about format changes. I want to filter meaningless `diffs`. It must be like this

[code]
[code]

**How can I modify diffs data before it stores in database?**
**Can I cancel insertion of audit entry at all?**

[2019-12-10 14:55] DamienHarper commented on #147
@gam6itko to better understand the problem, can you tell me:
- what is the type (Doctrine type) of `freePayments` and `closingPercent` fields? (integer, decimal, ...)
- what is the PHP type defined in your entity (if any) regarding these two fields? (float, double, string, ...)
- how do you you populate/set/update these values: are they coming from a form? if yes, which type of field is used in th

[2019-12-10 15:41] DamienHarper commented on #145
@garak the bundle is aimed to keep track of changes happening at database level and the viewer is not designed to display audit entries outside of this scope.
I have to think about it a bit more

[2019-12-10 15:52] gam6itko commented on #147
Doctrine type: decimal
[code]

Php type: float
[code]

For update values I use SonataAdmin FormMapper
[code]

[2019-12-10 16:21] Tersoal commented on #145
@DamienHarper I would like to register when I make bulk import because I need to do in raw SQL. It would be an example of @garak said.

I have to explore audit manager to achieve it.

[2019-12-10 16:41] webmasterMeyers commented on #124
I just had the same issue, but realised I was on `^2.0`, updating to `^3.0` worked

[2019-12-10 16:45] garak commented on #145
Well, IMHO the viewer is too much for this bundle and it should be on a separate repository (I'm not using it).
Anyway, my proposal is just about making the process more flexible

[2019-12-10 22:45] DamienHarper commented on #132
@Phibus do you still experiment the issue with `master` branch since twig des have been updated?

[2019-12-11 08:24] DamienHarper commented on #147
From your config/mapping, at Doctrine level, `freePayments` and `closingPercent` are declared `decimal` so Doctrine will [convert them to strings](https://www.doctrine-project.org/projects/doctrine-dbal/en/2.9/reference/types.html#decimal-types) when loading the values from the database to be able to maintain the number of digits before and after the decimal marks (so a value of 0 in the database

[2019-12-11 09:46] gam6itko commented on #147
I guessed about it. But this problem needs to be solved. What you think about allow user to modify `[payload][diff]` data of `LifecycleEvent` by EventListener before it will be stored in DB? The approach is like jms-serializer events. If you do not mind I can make PullRequest

[2019-12-13 09:14] gam6itko commented on #113
It issue similar to #147

[2019-12-13 09:32] gam6itko opened #150 "An exception occurred while executing 'SELECT COUNT(id) FROM tablename at WHERE (object_id = ?) AND (type IN (?))' with params [1, ["update"]]: Notice: Array to string conversion"
| Q                           | A
| ----------------------------| -----------------------
| DoctrineAuditBundle version | 3.2.3
| PHP version                 |  7.2
| Database                    | MySQL 5.7
|doctrine/dbal      |                      v2.10.0
| doctrine/orm  |                           v2.7.0

#### Summary

I think `$filters` property should be removed from `AuditReader`. It should

[2019-12-13 09:36] DamienHarper commented on #113
#147 would benefit from this event system but the goal here is to add custom data to audit entries, not filtering them.

[2019-12-13 10:52] gam6itko commented on #150
Looks like here is the problem
https://github.com/DamienHarper/DoctrineAuditBundle/blob/15f778dec96f161a2bc1ff1c81f987a80c3aa950/src/DoctrineAuditBundle/Reader/Paginator.php#L65

[2019-12-13 11:06] DamienHarper commented on #150
@gam6itko I will look at it ASAP

[2019-12-13 14:38] DamienHarper commented on #150
@gam6itko could you please test against `fix-150` branch?
`composer require damien harper/doctrine-audit-bundle "dev-fix-150"`

[2019-12-15 14:37] DamienHarper commented on #150
@gam6itko This should be fixed in `master` branch. Could you please test it and provide me some feedback?

[2019-12-15 21:51] DamienHarper commented on #126
Translations are now available in `master` branch

[2019-12-15 21:51] #126 closed

[2019-12-16 13:28] gam6itko commented on #150
@DamienHarper I'll do it ASAP

[2019-12-16 19:44] p365labs opened #153 "Flag parameter for enabling/disabling AuditController"
Hi all, I'm wondering how I can disable the actions, and so the routes defined inside the
AuditController.
The FrontEnd is really useful, but at a certain point, I don't want to have that kind of route, in production, exposed. I've tried to play a bit with expression language with "condition" key for routing. something like:

```condition: '%enable_audit_controller% === true')```

where **enable_a

[2019-12-17 08:44] DamienHarper commented on #153
@p365labs If your application supports authentication, you can add a role requirement on audit routes in your `security.yaml`

[code]

[2019-12-17 08:45] maxhelias commented on #153
Hi!
Or you can also remove the `DH\DoctrineAuditBundle\Controller\AuditController` definition with a CompilerPass.

BTW, @DamienHarper, maybe we could add a security configuration for the `AuditController` ?

[2019-12-17 08:46] DamienHarper commented on #153
@maxhelias yes, I was thinking about this.

[2019-12-17 11:11] DamienHarper commented on #132
@Phibus I close this issue as it hasn't received feedback recently. Feel free to reopen it if needed.

[2019-12-17 11:11] #132 closed

[2019-12-17 11:12] DamienHarper commented on #144
@patrickmatsumura are you still working on this? do you need some help?

[2019-12-17 12:26] patrickmatsumura commented on #144
Yes, I am. I just have some other things on my plate right now and the upcoming holidays and some deadlines are keeping me busy. I should have a PR by the end of the week though.

[2019-12-17 12:30] gam6itko commented on #150
@DamienHarper the problem has gone. You can close the issue

[2019-12-17 12:31] #150 closed

[2019-12-17 13:39] gam6itko opened #157 "Configuration for several doctrine connection/em"
I have project which has several connections and em's.

My doctrine config looks like this
[code]

Now I need to track changes for Entities which managed by `foo` em.
Looks like your bundle works only with `default` connection. It will be very useful to allow user to configure audits for entities in different em's

[2019-12-17 14:13] p365labs commented on #153
@DamienHarper & @maxhelias Yes got u what u mean, but I was thinking more to a sort of **feature flag**.
I'm going to describe the use case as it will be more clear:

I'm not going to use twig as our application exposes *APIs* which are consumed by a Vue.JS SPA client. In this particular situation, it's useless for me exposing routes to the word that I have to disable (compiler pass) or with speci

[2019-12-23 08:22] maxhelias commented on #153
@p365labs I think you can keep open the issue. It would be interesting from my point of view to have this feature flag

[2019-12-23 09:13] p365labs commented on #153
@maxhelias ok I will investigate a good way to do it, during these holidays. Tnx!

[2019-12-29 14:37] cnizzardini opened #160 "MongoDB support"
Doctrine has support for Mongodb through its ODM, has this project been tested with MongoDb at all? Any reasons it wouldn't work?

[2020-01-08 14:45] matthijsch opened #162 "Bug in pagination when viewing one entity"
| Q                           | A
| ----------------------------| -----------------------
| DoctrineAuditBundle version | 3.2.3
| PHP version                 | 7.3.13
| Database                    | MySQL

When viewing the audits for one entity which has multiple pages the pagination links are broken because the entity ID isn't passed to the paths

[2020-01-08 15:25] DamienHarper commented on #162
@matthijsch thanks for the report. May you have a chance to test `master` branch?
Some fixes have been pushed since the latest release.

[2020-01-08 15:29] DamienHarper commented on #162
@matthijsch I've just tested and the issue is still present in `master` branch. I'll fix this asap.

[2020-01-08 17:10] DamienHarper commented on #160
Hi @cnizzardini! Unfortunately, this bundle has not been tested with MondoDb and can't work out of the box with MongoDb as it's been thought and designed for Doctrine ORM, not Doctrine ODM.

[2020-01-09 08:43] DamienHarper commented on #162
@matthijsch I pushed a fix on `master` branch. May you have a chance to test `master` branch and provide me some feedback?

[2020-01-15 22:11] DamienHarper commented on #162
@matthijsch I close the issue for now. Re-open it if needed

[2020-01-15 22:11] #162 closed

[2020-01-15 22:11] DamienHarper commented on #144
@patrickmatsumura Any progress on this?

[2020-01-15 23:32] DamienHarper commented on #153
I close this issue, fixed by PR #161

[2020-01-15 23:32] #153 closed

[2020-01-17 12:35] #160 closed

[2020-01-17 12:36] cnizzardini commented on #160
Can you spitball an estimate on how long you think it would take for someone to fork and add support for this? Do you think the code is extendable, or would it be a considerable amount of work?

[2020-01-20 20:54] n3o77 opened #164 "Get audit log for a specific user"
I'm trying to retrieve all changes from a specific user for specific or all audited entities. I was looking into adding more filters to the AuditReader but endet up changing a lot of code, so not sure if that makes sense and wanted your feedback on this @DamienHarper .

If you're interested in something like that i think it would make sense to pass a general filter object instead which would also

[2020-01-22 13:26] NicoCoulon commented on #133
Had the same issue and implemented the same workaround described in post 1.

I'm using version 3.2.3.

Here is my output of `bin/console debug:config DoctrineBundle` :
[code]

Please let me know if you need something else.

Btw, thanks for this nice package

[2020-01-24 15:29] dtraore commented on #133
sorry @DamienHarper I was off last weeks.
I will be back with the command output

[2020-01-31 10:38] MylesKingsnorth01 opened #165 "Entity ID lost in pagination"
| Q                           | A
| ----------------------------| -----------------------
| DoctrineAuditBundle version | 3.2.3
| PHP version                 | 7.3.4
| Database                    | MySQL

#### Summary

When viewing audits for an entity with an ID, navigating using the pager fanata pagination at the bottom removes the entity ID.

#### Current behavior

Lose entity ID on page naviga

[2020-01-31 10:39] DamienHarper commented on #165
Hi @MylesKingsnorth01
It's already fixed in `master` branch (see #162)

[2020-01-31 10:39] #165 closed

[2020-02-05 13:51] MylesKingsnorth01 commented on #165
When will the fix be tagged as a release?

[2020-02-05 14:12] DamienHarper commented on #165
Hi @MylesKingsnorth01, I'll publish next release soon (today evening or tomorrow)

[2020-02-06 13:16] bhyassine opened #166 "Boolean set to NULL instead of false"
Hello everyone,
When I am tracking changes on my Entities, I noticed that boolean set to false are being shown as set to Null...
I made some verification and I noticed that the false values are sent as "empty" to the twig file...
However, on the audit table, the values are correctly set as "false".
I think the problem come from the reader where may be it don't make a difference between false and n

[2020-02-06 13:29] DamienHarper commented on #166
@bhyassine thanks for the report, I'll have a look at this asap

[2020-02-06 15:27] bhyassine commented on #166
It works perfectly well! Thanks a lot :-)

[2020-02-06 15:27] #166 closed

[2020-02-06 22:50] DamienHarper commented on #164
@n3o77 Sorry for the delay, your filter object looks like a good idea. May you submit a PR? I'd be glad to review it ;)

[2020-02-06 22:51] DamienHarper commented on #157
@gam6itko I've been very busy lately but I'll look into your issue as soon as possible

[2020-02-06 22:52] n3o77 commented on #164
No worries. Sure I can work on a PR in the next few weeks. Thanks for the feedback.

[2020-02-06 22:53] DamienHarper commented on #144
@patrickmatsumura feel free to submit your PR even unfinished, I'll look into it

[2020-02-06 22:55] DamienHarper commented on #133
Probably related to #157

[2020-02-06 23:23] DamienHarper commented on #166
@bhyassine 3.3.0 is released

[2020-02-06 23:23] DamienHarper commented on #165
@MylesKingsnorth01 3.3.0 is released

[2020-02-06 23:24] DamienHarper commented on #162
@matthijsch 3.3.0 is released

[2020-02-06 23:24] DamienHarper commented on #153
@p365labs 3.3.0 is released

[2020-02-07 08:22] llaville opened #168 "Type Hinting incompatible with Symfony Interface"
| Q                           | A
| ----------------------------| -----------------------
| DoctrineAuditBundle version | 3.3.1
| PHP version                 | 7.3.14
| Symfony | 4.4.3
| Database                    | SQLite

#### Summary

 Compile Error: Declaration of DH\DoctrineAuditBundle\Routing\DoctrineAuditRoutingLoader::load($resource, ?string $type = NULL):
 Symfony\Component\Routing\Route

[2020-02-07 08:27] DamienHarper commented on #168
@llaville Thanks for the report, will fix asap

[2020-02-07 08:32] llaville commented on #168
Then,

Compile Error: Declaration of DH\DoctrineAuditBundle\Routing\DoctrineAuditRoutingLoader::supports($resource, ?string $type = NULL): bool
must be compatible with Symfony\Component\Config\Loader\LoaderInterface::supports($resource, $type = NULL)

[2020-02-07 09:31] DamienHarper commented on #168
@llaville should be fixed right now in `3.3.2

[2020-02-07 09:41] llaville commented on #168
Confirmed. BC break solved. Thanks !

[2020-02-07 09:41] #168 closed

[2020-02-09 11:54] dtraore commented on #133
Hello here you is the output of doctrine bundle config command:

[code]

The hot fix that I did is to override some file which are :

[code]

I can share these file if need.

[2020-02-10 09:31] patrickmatsumura commented on #144
I had personal things going on over the holidays and I had to support my wife with the kids. I’ll be working on this and have a PR by the end of the week.

[2020-02-10 09:57] calvera opened #169 "why DH\DoctrineAuditBundle\User\UserInterface::getId() must return int|string|null?"
| Q                           | A
| ----------------------------| -----------------------
| DoctrineAuditBundle version | 3.3.2
| PHP version                 | 7.4
| Database                    | PostgreSQL

#### Summary

i use phpstan for static analysis, it reports this
[code]

#### Current behavior

#### How to reproduce

    /**
     * @return UuidInterface
     */
    public function getId():

[2020-02-10 10:42] DamienHarper commented on #144
@patrickmatsumura thanks for the update! I hope everything's fine/back to normal on your personal side though

[2020-02-10 15:14] patrickmatsumura commented on #144
Added PR #170

It was nothing serious. Just some things that kept me busy. 😊

[2020-02-10 16:43] DamienHarper commented on #144
I merged your PR so I can close this issue. Thanks @patrickmatsumura!

[2020-02-10 16:43] #144 closed

[2020-02-10 16:44] patrickmatsumura commented on #169
You could return a string instead of the instance.

[2020-02-10 17:18] DamienHarper commented on #169
@calvera at the moment, [UserInterface](https://github.com/DamienHarper/DoctrineAuditBundle/blob/e72b52106c6903d60595dd5266c4d261863d2303/src/DoctrineAuditBundle/User/UserInterface.php#L10) do not have any real return typehint for the `UserInterface::getId()` method, they are only suggested thanks to the docblock.

So, PHP wouldn't complain if you return anything that can be converted to a string

[2020-02-11 09:09] patrickmatsumura commented on #144
You‘re welcome and thank you for this bundle.

[2020-02-20 07:34] alsar opened #171 "Add class name of the audited entity to the data array"
I have some custom functionality and for that I created an event listener. But when receive the `AuditEvent` I need to know the class name of the entity that is currently audited, so I can process the data.

Would it be possible to add add this to the data array? I can create a PR.

[2020-02-20 17:04] DamienHarper commented on #164
@n3o77 @McAnix has made a PR (#172) adding the ability to get audits within a date range.
As long as you plan to make a PR regarding filters, it might be nice to support the same filtering feature (date range).

[2020-02-22 20:25] ThomasTr opened #173 "Impossible to access an attribute ("haveToPaginate") on a null variable."
| Q                           | A
| ----------------------------| -----------------------
| DoctrineAuditBundle version | 3.3.2
| PHP version                 | 7.3.13
| Database                    | MariaDB

#### Summary

Get this error when view an history entry after upgrade to SF5:
Impossible to access an attribute ("haveToPaginate") on a null variable.

Seems WhiteOctoberPagerfantaBundle is no

[2020-02-22 20:33] ThomasTr commented on #173
Please forget, had to adopt my own template with the id in render function

[2020-02-22 20:33] #173 closed

[2020-02-24 17:15] DamienHarper commented on #171
This is fixed in `master`

[2020-02-24 17:15] #171 closed

[2020-02-24 17:17] #169 closed

[2020-03-06 16:36] ndiouga25 opened #176 "Update schema"
Hello ,i  using symfony 3.4 and i want to integrate your audit bundle .But when i finsih to install the composer and i want to upgrade my schema sql i have alaways this issue [OK] Nothing to update.
this is my config.yml
      default_connection: central
        connections:
            default:
            central:
            instance:

    orm:
        default_entity_manager: central
        en

[2020-03-09 09:37] DamienHarper commented on #176
Hi @ndiouga25, thanks for the report. I suspect your issue is related to #157. I have to investigate a bit more.

[2020-03-09 10:59] ndiouga25 commented on #176
Hi , did the same think . But i cannot update my schema .

[2020-03-09 14:18] DamienHarper commented on #176
@ndiouga25 do you want all of your entities managed by all your entity managers to be audited or do you only want to audit entities managed by a specific entity manager?

If you only want to audit entities managed by a single entity manager, did you try to specify it in the `dh_doctrine_audit.yaml` file?

[code]

(see [doc](https://github.com/DamienHarper/DoctrineAuditBundle/blob/master/doc/20-gen

[2020-03-09 16:12] ndiouga25 commented on #176
i want to audit only some of my entries not all all . My symfony is 3.4 and
i want configure my audit bundle in confih.yml .
When i tape this command  bin/console audit:schema:update i always have
this screen shot .

Le lun. 9 mars 2020 à 14:18, Damien Harper <notifications@github.com> a
écrit :

[2020-03-19 10:34] Nemo64 opened #177 "Delete operations save the proxy discriminator"
| Q                           | A
| ----------------------------| -----------------------
| DoctrineAuditBundle version | 3.3.2
| PHP version                 |  7.3.14
| Database                    | MySQL 5.6.47 (ORM version 2.7.0)

#### Summary

Delete operations can save the proxy discriminator.

#### Current behavior

When I delete an entity that I didn't fully load before (using getReference)

[2020-03-26 17:18] Nemo64 opened #178 "MySQL 5.6 support"
| Q                           | A
| ----------------------------| -----------------------
| DoctrineAuditBundle version | 3.3.2
| PHP version                 | 7.3.14
| Database                    | MySQL 5.6.47 (ORM version 2.7.0)

#### Summary

The the Indexes on `object_id`, `discriminator` and  `blame_id` are too long for MySQL 5.6.

#### Current behavior

In strict mode I'll get an error: `Sp

[2020-03-29 13:00] DamienHarper commented on #177
@Nemo64 Can you please test again using `master` branch please?

[2020-03-29 13:01] DamienHarper commented on #177
@Nemo64 Feel free to reopen this issue if needed.

[2020-03-29 13:01] #177 closed

[2020-03-30 09:49] Nemo64 commented on #177
I can confirm, it works beautifully. 👍
Thanks a lot.

[2020-03-31 14:49] DamienHarper commented on #164
@n3o77 any progress on this?

[2020-04-02 09:40] alfabetagama opened #183 "Impersonation suport"
HI,

If the user is impersonated, bundle should log both impersonated user and impersonator.
[code]

[2020-04-02 10:05] DamienHarper commented on #183
Hi @alfabetagama! Impersonator tracking has been implemented in `1.5.0`. Which version are you using?

[2020-04-02 11:37] alfabetagama commented on #183
Hi,

And thanks for quick response. You are correct, it is implemented and it is working.

Best regards

[2020-04-02 11:48] DamienHarper commented on #183
@alfabetagama no problem so I close the issue ;)

[2020-04-02 11:48] #183 closed

[2020-04-06 23:49] rcapile commented on #145
Hi @DamienHarper, have you had the chance to look at it? I imagined something like

[code]
and used as

[code]

With some changes at `entry.html.twig`, `helpers/bootstrap.html.twig` and  `helpers/helper.html.twig` the view could be

![image](https://user-images.githubusercontent.com/189857/78615304-7b029780-7847-11ea-8572-2900c6ff2558.png)

I believe It would break nothing since it's a new functio

[2020-04-07 10:06] grekpg opened #184 "@Gedmo\Translatable and DoctrineAuditBundle"
I'm using @Gedmo\Translatable
I see that auditBundle create entry but don't store in with locale was change

this is diff
{"title": {"new": "test EN 123", "old": test 1 EN"}}

[2020-04-08 19:51] roygoldman opened #187 "The `RoutingAnnotationLoader` breaks existing Annotation routes within the app"
| Q                           | A
| ----------------------------| -----------------------
| DoctrineAuditBundle version | master
| PHP version                 | 7.3.14
| Database                    | MySQL / Maria

#### Summary

In an app that uses annotation loaders for most controllers, bringing in this project results in all other routes becoming unusable.

#### Current behavior

 The new route

[2020-04-08 19:56] DamienHarper commented on #187
@roygoldman I confirm the bug. Though we still need the custom routing annotation loader for the  `enabled_viewer` option. I'll push a patch soon.

[2020-04-08 20:03] roygoldman commented on #187
Yes, while working on my implementation of a pr, I couldn't find another way to make the `enabled_viewer` config property work without the loader. However with the proposed solution, off loading the loading of the controller into the base application, eliminates the need for the property, since the app developer could simply remove the router there all together. By using the above embed, it lets t

[2020-04-08 21:23] DamienHarper commented on #187
@roygoldman I pushed a patch to master but I like your idea to remove the custom loader and offload the controller loading to the base application. That way we could remove the compiler pass and the custom loader and make things easier/lighter.
Could you please submit your PR?

[2020-04-10 06:53] DamienHarper commented on #187
@roygoldman finally, we'll keep the `enabled_viewer` flag and custom routing loader. Otherwise, even if I like the idea to simply things as you suggested, we'll loose the ability to dynamically enable/disable the viewer.

[2020-04-10 15:14] DamienHarper commented on #187
I close this issue as it's fixed in `master`

[2020-04-10 15:14] #187 closed

[2020-04-16 11:18] dvdknaap opened #189 "Invalid parameter number"
| Q                           | A
| ----------------------------| -----------------------
| DoctrineAuditBundle version | 3.4.0
| PHP version                 | 7.3.16
| Database                    | MySQL

#### Summary

When i update to the latest version i get the following error:

In this case the first param 'App\\Entity\\OrderLines' is an unknown field there are 10 fields but 11 params

#### H

[2020-04-16 12:52] #189 closed

[2020-04-20 08:58] KlausK18 opened #190 "Override twig view"
Hello,

I'm trying to override the layout.html.twig, and as the Symfony doc says, I have created the related path to the new view.
![image](https://user-images.githubusercontent.com/28428653/79733130-ee4ee380-82f4-11ea-9a22-0afb65c8b413.png)
But when I go to the viewer page in /audits it doesn't override it, keeps using the vendor view.
I'm working in dev environment, and I have tried to clean cac

[2020-04-22 20:10] markus-fischbacher opened #194 "Cannot load resource "@DHDoctrineAuditBundle/Controller/""
Hi there,
I've installed the bundle as mentioned in the documents.
After adding the routes for Audit Viewer I get the following error:
[code]

bundles.php

`    DH\DoctrineAuditBundle\DHDoctrineAuditBundle::class => ['all' => true],`

config/routes/dh_doctrine_audit.yaml
[code]

composer.json
 `   "damienharper/doctrine-audit-bundle": "^3.4",`

![image](https://user-images.githubusercontent.com/10

[2020-04-22 22:06] markus-fischbacher commented on #194
Just found it by myself.
The official documentation shows the following configuration:
[code]

If you're using the following, it's working
[code]

[2020-04-22 22:06] #194 closed

[2020-04-22 22:27] DamienHarper commented on #194
@markus-fischbacher Glad you found a fix yourself ;)
I suppose you read the doc from `master` branch which is currently under heavy development for next major version `4.0`.
The doc of the latest "stable" version `3.4.0` is located in `3.x` branch. [Click here](https://github.com/DamienHarper/DoctrineAuditBundle/blob/3.x/doc/30-audit-viewer.md) to view the section related to the viewer.

[2020-04-22 22:35] DamienHarper commented on #190
Hi @KlausK18!
You made a typo in the name of the folder in which you can override templates for this bundle. It has to be `DHDoctrineAuditBundle` instead of `DoctrineAuditBundle`.

So the full path of your custom `layout.html.twig` (relative to your project root) should be `templates/bundles/DHDoctrineAuditBundle/layout.html.twig`

[2020-04-23 05:42] markus-fischbacher commented on #194
@DamienHarper yes, you‘re right. I read the master branch documentation. Thanks for the clarification. BTW it’s a cool bundle. I‘m curious about the new version.

[2020-04-23 21:13] markus-fischbacher opened #195 "Distrib 5.5.60-MariaDB"
Is there a chance to get it working with Distrib 5.5.60-MariaDB?

[code]

[2020-04-23 22:08] DamienHarper commented on #195
Hi @markus-fischbacher! Thanks for the report, I'll have a look as soon as possible. It looks like JSON type is not supported on such an old version of MariaDB but I need to dig deeper to be sure.

[2020-04-23 22:15] markus-fischbacher commented on #195
Hi @DamienHarper, you're right. JSON type is not supported in that version. Unfortunately I'm not able to update the version by myself, because it's a managed database from a customer. A workaround for my code was changing the colum type from JSON to TEXT and do the JSON de-/serialization by myself in the corresponding Getter/Setter of the entities.

[2020-04-24 08:11] DamienHarper commented on #190
I close this issue, @KlausK18 feel free to reopen if needed.

[2020-04-24 08:11] #190 closed

[2020-05-14 14:57] gam6itko commented on #157
@DamienHarper Can I speedup the implementation of this feature by donating to you? I need it so much.

[2020-05-14 15:03] DamienHarper commented on #157
@gam6itko I'm currently working hard to rewrite the bundle so it can support multiple entity managers and more. Please, hold on a bit more ;)

[2020-05-14 21:56] colonelclick opened #196 "Configuration vs. Annotation"
I was trying to use configuration and I received no errors but it did not work*, so I had to switch to annotation.

*I added entries to dh_doctrine_audit.yaml (below) but there was no diff detected for a doctrine migration, and the entities were not logged by my application, but no errors were generated.

However, as soon as I added the annotation for `* @Audit\Auditable` into the Customer entity

[2020-05-15 07:51] DamienHarper commented on #196
Hi @colonelclick Thanks for the report. BTW, configuration should work as you expected.

Could you please post the following:
* the version of the bundle
* the PHP version
* the Symfony version

Did you try once it worked with annotations to remove them but keep configuration? Did it worked?

Was your schema updated? (cf https://github.com/DamienHarper/DoctrineAuditBundle/blob/master/doc/60-troubl

[2020-05-18 08:16] Thomas-Philippot commented on #113
Hi ! Any news about it ?
I was just about to find a way to add custom data to my audit entries.

[2020-05-18 10:07] Thomas-Philippot opened #197 "No diffs in remove entries"
Hello, I wonder why I don't have any diff on remove entries.
I have Diffs for insert and update but nothing but the entity id for remove entries.

Is that a choice ? Can I configure something to add the diff to the remove audit entry ?

[2020-05-20 16:49] DamienHarper commented on #197
Hi @Thomas-Philippot you're right, remove operations do not show any diff data as long as this kind of operation is the result of a `DELETE ...` or `UPDATE ... SET deleted_at = ...` SQL query.
What do you expect? Could you explain a bit more your use case?

[2020-05-20 16:50] DamienHarper commented on #196
@colonelclick Are you still facing an issue?

[2020-05-20 16:51] colonelclick commented on #196
Hi Damien, thank you for following up on this. Yes I will finish this bug report, I got a little busy this week, I apologize for the delay.

[2020-05-20 17:04] Thomas-Philippot commented on #197
Hello, let's assum my Entity has two attribute `id` and `name` When you `INSERT` you can see in the diffs, the two attribute `before` and `after`.

With before with null or empty values (as it was not existing before) and after with the values.

I Want to have the exact same behavior when performing a `Delete` (actually setting `deleted_at`), so I can see my attributes in `before`.
Hop I made myse

[2020-05-20 17:29] DamienHarper commented on #197
@Thomas-Philippot Thanks for the explanation, right now this is not possible. If I understand right, you expect to have all properties and their values logged in the audit entry.
I mark this issue as a feature request to keep track of it.

[2020-05-22 00:48] colonelclick commented on #196
php: 7.2.23
symfony: 4.4.0
dhBundle: 3.4.1

I tried removing the annotation and restoring the yaml. When I did that, no changes were tracked, and the /audit screen reported there were 0 audited entities.

Reversing this procedure restored correct function.

Doctrine does not generate a diff if I modify the yaml, but it does generate a diff when I add the annotation to a new entity.

I can tell the

[2020-05-23 00:01] colonelclick commented on #168
Hi @DamienHarper,

This bug has returned in the master branch. Looking at the git history it looks like it was introduced on 4/1/2020. Is this an intentional move to drop support for Symfony < 5?

Thanks!

[2020-05-23 00:26] colonelclick commented on #168
@DamienHarper

FYI this issue has resurfaced in master, but 3.4.1 is still working fine. I know master is not stable but I want to mention in case it is an accident because I think this means it can only be compatible with Symfony 5.

[2020-06-03 17:10] Herz3h commented on #128
I finally upgraded to Symfony 4.4.7 and AuditBundle 3.4 (before I had AuditBundle 3.0.0 and sf 3.4) and this seems to work on this version instead.

[2020-06-03 17:10] #128 closed

[2020-06-04 15:41] gisostallenberg commented on #164
@DamienHarper How about splitting `getAudits` in two public methods `prepare`, resulting in a querybuilder and `execute` (or `read` or `get`) requiring said querybuilder and resulting in the array returned by `getAudits` normaly. This allows alter the querybuilder to ones own needs.
`getAuditsByDate` could be calling prepare and execute and add the dates to the querybuilder in between.

[2020-06-04 15:43] DamienHarper commented on #164
@gisostallenberg that's currently being done in the rewrite that will be pushed on the repo in a quite near future ;)

[2020-06-04 15:44] gisostallenberg commented on #164
I see. That's nice. Thanks in advance.

[2020-06-05 10:51] gisostallenberg commented on #164
btw, another way would be to allow a (or multiple) filter classes of some kind to be set. This would be a class that implements the interface requiring a method `apply` accepting the query builder
[code]
This allows for a reader that works the same over and over again and can be compiled in the service container.

[2020-06-05 15:13] gisostallenberg commented on #164
@DamienHarper can I help to create a filter system like that? All internal filters currently applied could also be added this way and having a way to remove them might allow people to read the audits in any way they want.
Maybe 'filter' is not a good term, because of the existing `filterBy` which narrows types.

[2020-06-10 02:30] ragboyjr commented on #157
@gam6itko I was able to get support for multiple entity managers pretty easily by applying two small patches. Unfortunately, my changes don't allow the admin to display entities from separate managers, but I was ok with that for now in my use cases.

First, in my custom app services.php file (I'm using the fluent php DI configurator) I make the following definitions:

[code]

This specifically jus

[2020-06-17 18:54] hbocanegra opened #203 "Location of documentation"
Hello,
First of all thank you very much for your excellent work and I want to ask you if you can please enable the access to the documentation again, I am integrating the module to my project and I still can't read the records created.

https://github.com/DamienHarper/auditor-bundle/blob/master/doc/11-installation.md

https://github.com/DamienHarper/auditor-bundle/blob/master/doc/20-general-config

[2020-06-17 19:45] hbocanegra commented on #203
Excuse me,
I accessed the 3.x branch and was able to see the documentation.

Thank you very much,

[2020-06-17 19:45] #203 closed

[2020-06-22 12:48] Herz3h opened #204 "Migration postUp"
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 3.4.1
| PHP version                 | 7.4.6
| Database                    | MariaDB 10.14

#### Summary

Running a migration's *postUp* before audit tables are created. Migration code is something like:

[code]

It fails saying that it cannot insert into f_entity_audit (this au

[2020-06-22 20:57] iAdil opened #205 "Documentation Page Not Found"
Please update a documentation url

[2020-06-23 06:17] DamienHarper commented on #205
Hi @iAdil, I suppose you're looking for latest stable documentation which is still available in the [relevant branch](https://github.com/DamienHarper/auditor-bundle/tree/3.x).

[2020-06-27 10:26] #205 closed

[2020-06-29 16:14] massimilianobraglia opened #206 "Symfony 5.1 deprecated role ROLE_PREVIOUS_ADMIN"
Hey there,
thank you for this bundle!

```Since symfony/security-core 5.1: The ROLE_PREVIOUS_ADMIN role is deprecated and will be removed in version 6.0, use the IS_IMPERSONATOR attribute instead.```

Any plan to support this?

[2020-07-01 09:27] dvdknaap commented on #113
I'm looking for the same thing.

I know you can change the values with (https://github.com/DamienHarper/auditor-bundle/blob/3.x/src/DoctrineAuditBundle/Event/AuditSubscriber.php) but you can't change the fields.

@DamienHarper is it possible to make the 'AuditEntry' entity modifiable in the yaml config file ?
In this case we can modify the fields and are in full control

[code]

[2020-07-31 21:10] joshgh opened #208 "SQL syntax error when creating audit log entries"
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 3.4.1
| PHP version                 | 7.3.15
| Database                    | MySQL 5.7

#### Summary

Unable to create audit entries

#### Current behavior

When updating or saving any entity that is auditable the following error occurs

An exception occurred while executing 'I

[2020-07-31 21:16] joshgh commented on #208
I also tried downgrading doctrine-audit-bundle to each version down to 3.3.0 and had the same problematic behavior.

[2020-08-01 02:33] joshgh commented on #208
Ok, it appears that the issue is the mysqli driver does not support named parameters in prepared statements. So DH\DoctrineAuditBundle\Event\AuditSubscriber::onAuditEvent creates problems. I did not see any note that mysqli is unsupported, so just something in the docs to this effect would be helpful.

[2020-08-04 06:40] kirya-dev opened #209 "Version support"
What is version that compatible with original entity audit bundle ?

In my case me need save original database structure for `*_audit` tables.

[2020-08-04 07:09] DamienHarper commented on #209
Hi @kirya-dev, I'm not sure to understand your question, the latest stable release (fully operational) is `3.4.1`, you can get it with the following command: `composer require damienharper/auditor-bundle`

Documentation is available here: https://github.com/DamienHarper/auditor-bundle/blob/3.x/doc/00-index.md

[2020-08-05 20:01] kirya-dev commented on #209
original bundle save changes as new record and insert changed value as new record in audit..
But **DamienHarper / auditor-bundle** save in json changed data - its take more data on disk and need convert old structure to new

[2020-08-06 07:15] DamienHarper commented on #209
@kirya-dev I'm confused, this bundle has always (since the beginning) used `json_encode` to save diffs in audit tables.

[2020-08-10 14:46] samy opened #210 "Is it possible to track one-to-many relation without versionning target entity ?"
Hi !
I have a small question : I have an Entity which can have be related to many othier Entity2 (a one-to-many relation)

I plan to track changes on Entity (and to track changes on the list of Entity2 instances related to my Entity)

Is it possible without versionning also Entity2 ?

[2020-08-11 06:28] murilozilli opened #211 "Install problem"
Trying to install it via composer got this:

Your requirements could not be resolved to an installable set of packages.

[code]

This is my composer.json
[code]

Any ideas? I had success installing version 1.6

[2020-08-18 05:31] ramil8090 opened #212 "Where is the documentation?"
Hi,

there is no documentation for the bundle. Any links in README.md lead to 404 error page.

[2020-08-25 10:59] #209 closed

[2020-08-25 15:53] vincentdieltiens opened #213 "Get original Entity class name from AuditEntity"
Hi,

Is there a way to get the original entity class name from an `AuditEntry` object ?

I'm using FOSRestBundle + JMSSerializerBundle for an API. That API allows to get the history of a resource but I want to display the related entities as well (not just the primary key). For that purpose, I have a specific JMS Serializer Handler to serialize entries as I want.

So when serializing an `AuditEntr

[2020-08-27 11:58] Herz3h commented on #212
For some reasons v4 doesn't have the doc folder, you can read https://github.com/DamienHarper/auditor-bundle/tree/3.x for version 3 if needed.

[2020-09-01 20:04] chripu opened #215 "Diffs of removed entities not tracked in other entities"
Hi @DamienHarper,

first of all thanks for the great bundle!

I have a "problem" and could need an advise.

Let's assume I have two entities.

[code]

[code]

**Both are audited.**

Let's further assume I have an `Address` and want to delete it. The address is used in an `User`. Before the removal I will set the Address to NULL, so no foreign key constrait is violated on deletion.

[code]

I would

[2020-09-30 10:20] Jurek-Raben opened #217 "Column names for multiple self-referencing tables"
We use a table with multiple reference id onto itself. These references all have different column names. Sadly you can't see which column name it is in the audit log at all. So it is not possible to see which self-reference actually is meant.

My suggestion would be then to include the column name into the log entry, or introduce an additional @AuditColumnName annotation or so.

[2020-10-07 19:36] maxkain opened #219 "Broken link to documentation in README file"
https://github.com/DamienHarper/auditor-bundle/blob/master/doc/00-index.md
Not found 404

[2020-10-07 19:40] DamienHarper commented on #219
Hi @maxkain ,

The problem you face (missing documentation) is due to the fact that you’re browsing the master branch (instable) whereas the latest stable branch is the 3.x one (latest stable release is 3.4.1)

Here is the documentation for 3.4.1: https://github.com/DamienHarper/auditor-bundle/blob/3.x/doc/00-index.md

Let me know if you need some more help/info.

[2020-10-07 19:40] #219 closed

[2020-10-08 11:35] Jurek-Raben opened #220 "Include 'isOwningSide' into diff column"
It would be very helpful, if your bundle was including the $mapping['isOwningSide'] into the diff table column, since with this additional info, you could track which side was affected in a bidirectional (self referencing) many-to-many relation.

e.g. in the AuditManager in associateOrDissociate() and similar.

[2020-10-13 12:46] dgfmdrv commented on #212
I don't know but I found this repo with docs, maybe the author has move folder doc to their own repo
https://github.com/DamienHarper/auditor-docs

[2020-10-13 12:52] #212 closed

[2020-10-30 23:04] markus-fischbacher commented on #197
I would as well appreciate that feature.

[2020-11-10 12:24] #204 closed

[2020-11-13 21:29] FeChagas opened #222 "Can't access docs"
All links on the README that redirect to any documentation of this bundle don't work, it was moved?

[2020-11-23 16:36] webmasterMeyers commented on #222
I was also just lloking into this.  A quick workaround is to choose the 3.x branch

[2020-11-25 16:52] DamienHarper commented on #222
thanks @webmasterMeyers

[2020-11-25 16:52] #222 closed

[2020-11-25 17:04] DamienHarper commented on #164
@gisostallenberg First of all, sorry for the delay. You should be able to do such filtering using the new `Query` object and applying a filter on the user, cf. https://damienharper.github.io/auditor-docs/docs/auditor-bundle/usage/querying.html#query

**Note**: This is only available on the `master` branch as of now.

[2020-11-25 17:22] DamienHarper commented on #213
@vincentdieltiens First of all, sorry for the delay. It is not possible to get the original entity from an audit entry.

[2020-11-25 17:22] #213 closed

[2020-11-25 17:29] DamienHarper commented on #215
@chripu First of all, sorry for the delay. I don't have any real solution for your issue as it is related to Doctrine internals.
I close this issue, feel free to comment / reopen if necessary.

[2020-11-25 17:29] #215 closed

[2020-11-25 17:33] DamienHarper commented on #211
@murilozilli Sorry for the delay, do you still face this issue?

[2020-11-25 17:34] DamienHarper commented on #208
@joshgh Sorry for the delay, it should be fine on the `master` branch.

[2020-11-25 17:37] DamienHarper commented on #206
@massimilianobraglia Sorry for the delay, this is fixed in `3.x` and `master` branches

[2020-11-25 17:45] massimilianobraglia commented on #206
@DamienHarper thank you! A new release is coming then?

[2020-11-25 17:54] DamienHarper commented on #206
@massimilianobraglia yep

[2020-11-25 23:32] murilozilli commented on #211
@DamienHarper I installed 1.6 which in a way did what I needed but would be keen to understand whats needed to install the most updated version if possible

[2020-11-26 00:53] DamienHarper commented on #206
@massimilianobraglia `3.4.2` has been released, `4.0` will come quite shortly

[2020-11-26 00:53] #206 closed

[2020-11-26 08:36] DamienHarper commented on #220
@Jurek-Raben Sorry for the delay, could you please elaborate on that feature request? I can add that info to relevant entries but I'd like to better understand how you would use that. Can you please provide an example/use case?

[2020-11-26 08:45] DamienHarper commented on #217
@Jurek-Raben Im' not sure to fully understand what you expect here, could you please elaborate on that feature request? I'd like to better understand how you would use that. Can you please provide an example/use case?

[2020-11-26 08:54] DamienHarper commented on #211
@murilozilli it looks like the dependency `doctrine/persistence` is locked to `1.1.x-dev` in your setup whereas recent versions of `damienharper/auditor-bundle` (formerly `damienharper/DoctrineAuditBundle`) require `doctrine/persistence >= 1.3`

[2020-11-26 09:36] massimilianobraglia commented on #206
Thank you, @DamienHarper!

[2020-11-26 13:22] DamienHarper commented on #210
@samy First of all, sorry for the delay. If I'm not wrong with your "setup", at the schema level, entity2 table will have a foreign key coming from entity1 table.

In such a scenario, entity1 table has no link with entity2 so if you enable auditing of entity1 table and disable auditing of entity2 table, operations on entity1 will be audited but operations on entity2 won't.

As long as associations

[2020-11-26 13:22] #210 closed

[2020-11-26 13:43] DamienHarper commented on #196
@colonelclick Do you still face this issue?
BTW, this is fixed in the `master` branch so I close this issue, feel free to reopen it if need.

[2020-11-26 13:43] #196 closed

[2020-11-26 17:20] lcpaf opened #223 "No route found for "GET /audit""
I'm probably missing some very important detail, but I'm not able to get `/audit` view to work.
Everything is work nicely, all the audit tables are created and populated, however, the route seems to be off.

This is my configuration:

[code]

And this is my environment:

* Symfony 5.1.8
* PHP 7.4.12

[2020-11-26 20:29] lcpaf commented on #223
Never mind, I totally missed some documentation.

[2020-11-26 20:29] #223 closed

[2020-11-27 11:17] Jurek-Raben commented on #220
Hi,

thanks for your concern!
I mean a change in the AuditManager class, in the method associateOrDissociate(), e.g. like:

[code]

Here is an use case example: Let's say you have an entity A and you have two self referencing properties P1 and P2, which are relations to the same entity A, like:
[code]

In the above example, it is impossible to know now without the information "isOwningSide" whethe

[2020-11-27 13:26] Jurek-Raben commented on #217
This request can be deleted, it was related to https://github.com/DamienHarper/auditor-bundle/issues/220

[2020-11-28 01:39] #178 closed

[2020-11-28 01:41] #217 closed

[2020-11-28 10:13] #220 closed

[2020-11-28 10:14] DamienHarper commented on #220
@Jurek-Raben This is fixed in `master` branch. Feel free to reopen if needed.

[2020-11-28 10:39] Jurek-Raben commented on #220
Thanks!

[2020-11-28 17:51] DamienHarper commented on #208
@joshgh Did you update your schema to create audit table in the first place?
Try running `bin/console audit:schema:update --force` first.

[2020-11-28 17:55] #164 closed

[2020-11-30 01:07] #195 closed

[2020-11-30 01:07] DamienHarper commented on #195
@markus-fischbacher Sorry for the delay, this issue should be fixed in `master` branch.

[2020-11-30 06:39] markus-fischbacher commented on #195
@DamienHarper thank you for the change. I appreciate that 👍🏻

[2020-11-30 16:36] DamienHarper commented on #147
@gam6itko This is now possible in `master` branch. You can now alter the payload borrowed by an audit event from an even subscriber.

[2020-11-30 16:36] #147 closed

[2020-11-30 16:38] DamienHarper commented on #113
@versh23 This is now possible in `master` branch. You can now alter the payload borrowed by an audit event from an even subscriber.

[2020-11-30 16:38] #113 closed

[2020-11-30 16:39] DamienHarper commented on #145
@garak This is now possible in `master` branch. You can now alter the payload borrowed by an audit event from an even subscriber.

[2020-11-30 16:39] #145 closed

[2020-12-01 23:13] DamienHarper commented on #176
@ndiouga25 Sorry for the delay, this should be fixed in `master` branch. I close this issue but feel free to reopen it if needed.

[2020-12-01 23:13] #176 closed

[2020-12-01 23:16] DamienHarper commented on #157
@gam6itko Sorry for the delay, this should be fixed in `master` branch as you can now configure several entity managers both for storage and as audit event sources. I close this issue but feel free to reopen it if needed.

[2020-12-01 23:16] #157 closed

[2020-12-01 23:16] DamienHarper commented on #133
@dtraore Sorry for the delay, this should be fixed in `master` branch as you can now configure several entity managers both for storage and as audit event sources. I close this issue but feel free to reopen it if needed.

[2020-12-01 23:16] #133 closed

[2020-12-02 14:17] DamienHarper commented on #184
@grekpg Sorry for the delay, I suppose that the locale used for translation is stored/defined wether in the translation listener or as an unmapped property in your entities, thus we have no way to guess its value.

Though, using `master` branch you can create your own `EventSubscriber` that subscribe to audit events and then alter the `diffs` property of the event payload to add your own data such

[2020-12-02 14:17] #184 closed

[2020-12-06 16:56] DamienHarper commented on #211
@murilozilli I close this issue for now, feel free to reopen it if needed.

[2020-12-06 16:56] #211 closed

[2020-12-06 16:57] DamienHarper commented on #208
@joshgh Any news on this issue? I close it for now, feel free to reopen it if needed.

[2020-12-06 16:57] #208 closed

[2020-12-08 11:38] benoit-hash commented on #168
Hello @DamienHarper ,
I really want to thank you for your work.
This issue resurfaced in the auditor-bundle with Symfony 4.4.

[2020-12-08 15:00] DamienHarper commented on #168
@benoit-hash thanks for the report, `4.0.2` fixes that regression

[2020-12-14 15:34] jean-gui opened #226 "Change viewer's URL"
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.0.3
| PHP version                 | 7.4.3
| Database                    | MySQL

#### Summary

It used to be possible to customize the URL at which the viewer was available  by adding the following code to config/routes.yaml:
[code]
That doesn't seem to be possible anymore.

[2020-12-14 17:00] DamienHarper commented on #226
@jean-gui Routes are now automatically added by a flex recipe that comes with the bundle ;)
So you probably have a file named `config/routes/dh_auditor.yaml` that defines the routes, this is where you can add a prefix.

[2020-12-14 17:02] DamienHarper commented on #226
@jean-gui I will update the doc accordingly though

[2020-12-14 17:16] DamienHarper commented on #226
@jean-gui done

[2020-12-15 09:24] #226 closed

[2020-12-22 05:50] ivyasyeshugo opened #227 "How to view audit log in browser"
Hello

I am using audit log version 3.0 for my project, I had successfully configured it, and the logs are working fine,
but my question is how can i view  log entries in the browser, when I visit the `/audit` it says authentication required, my project had some security firewall, but I had removed the audit route from the security although i am not able to see log entries in browse

Also if i wan

[2020-12-22 09:56] DamienHarper commented on #227
Hi @ivyasyeshugo! Could you please post your `security.yaml` file?

[2020-12-22 10:03] ivyasyeshugo commented on #227
below is current code of my security.yaml file
`security:
    encoders:
        App\Entity\User:
            algorithm: argon2i

    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User

[2020-12-22 10:10] DamienHarper commented on #227
@ivyasyeshugo where did you place the audit section in this file? Remember that order is important, the first firewall that matches your request is used (see https://symfony.com/doc/current/security.html#a-authentication-firewalls)

[2020-12-22 10:12] DamienHarper commented on #227
@ivyasyeshugo you should also think about migrating to v4.x of this bundle ;)

[2020-12-22 10:40] ivyasyeshugo commented on #227
I don't think the order is important in my case, because I had tried to place everywhere in firewall before after in the middle etc.. but not works,
is there something I am missing?

For migrating to v4.x I can't right now because I have some issues with my Symfony version (4.4.16 )

[2020-12-22 11:14] DamienHarper commented on #227
Well, I'm pretty sure order is important here as stated in Symfony doc.

You should place your `audit` firewall somewhere **before** the  `api` one because this one catches any path starting with `/` (so it would catch paths like `/audit` and `/audit/...`)

Also, how did you defined routes to the audit viewer? can you post your `routes.yaml` file?

Finally, did you clear the cache each time you ch

[2020-12-22 11:32] ivyasyeshugo commented on #227
Now I had fix the route issue, but it comes up with another below error

`This page contains the following errors:
error on line 234 at column 12: Opening and ending tag mismatch: link line 0 and head
Below is a rendering of the page up to the first error.
DoctrineAuditBundle .timeline-centered { position: relative; margin-bottom: 30px; font-size: 0.9rem; clear: both; } .timeline-centered:before,

[2020-12-22 11:43] DamienHarper commented on #227
I'm sorry but I can't help here without more information.
What did you fix exactly? How do you get this error? Did you modified/override templates? Etc

[2020-12-22 11:54] ivyasyeshugo commented on #227
i am accessing `/audit` and in security.yaml I am using `/audit/` so that additional `/` was the fix.

Also had not changed anything in code just I view the route and it gave me this error

[2020-12-22 12:29] DamienHarper commented on #227
Could you post a screenshot of the full error please? The stack trace would also help ;)

[2020-12-22 12:41] ivyasyeshugo commented on #227
![Uploading aduit-error.png…]()

[2020-12-22 12:42] ivyasyeshugo commented on #227
![aduit-error](https://user-images.githubusercontent.com/72447420/102889752-370cfc80-4481-11eb-80b1-f7477abff617.png)

[2020-12-22 12:52] DamienHarper commented on #227
Looks like your layout is broken but I don't know where. Check your twig files 🤔

[2020-12-22 14:26] DamienHarper commented on #227
@ivyasyeshugo did you solve your problem?

[2020-12-23 08:34] ivyasyeshugo commented on #227
No not yet, nothing from my code base, so not able get whats the actual problem

[2020-12-23 09:11] DamienHarper commented on #227
@ivyasyeshugo The error mentions an opening / closing tag mismatch, check the links and head tags of your layout

[2020-12-23 09:16] DamienHarper commented on #227
@ivyasyeshugo Try adding a `/` before the `>` on line 7 of `src/DoctrineAuditBundle/Resources/views/layout.html.twig` of the bundle (in the vendors) and let me know if it fixes your issue

[2020-12-23 10:05] ivyasyeshugo commented on #227
it gaves me this
![image](https://user-images.githubusercontent.com/72447420/102984981-6df01a80-4534-11eb-9a39-54d632ad224e.png)

[2020-12-23 10:16] DamienHarper commented on #227
@ivyasyeshugo Ok that's when you review source in your browser but does it fix the issue? Is the audit inventory displayed properly?

[2020-12-23 10:20] ivyasyeshugo commented on #227
No, that's not the view source it is actually showing this when visiting the audit page.

[2020-12-23 10:45] DamienHarper commented on #227
@ivyasyeshugo the problem is outside of the bundle, it looks like the bad content type is used in the response hence displaying the source

[2020-12-28 10:27] e9li commented on #133
Hello, I just updated from the 'old' audit which was working perfectly with Symfony 5.2. The configuration is default and really standard with one DB. With the old everything word fine but now nothing gets logged.  Someone has an idea what could be wrong?

[code]

[code]

[2020-12-28 11:35] DamienHarper commented on #133
Hi @e9li
Could you please open a new issue? Also, do you also have annotations in your entities?

[2020-12-28 11:54] e9li opened #228 "Not saving operations"
Hello, I just updated from the 'old' audit which was working perfectly with Symfony 5.2. The configuration is default and really standard with one DB. With the old everything worked fine but now nothing gets logged. Someone has an idea what could be wrong?

Symfony 5.2.1
damienharper/auditor: *
damienharper/auditor-bundle: *
doctrine/annotations: *

[code]

[code]

_Originally posted by @e9li in h

[2020-12-28 11:57] e9li commented on #228
At the moment I do not use annotations for audits. But I tried annotations in an entity but that's also not logging anything.

[2020-12-29 12:27] N4IR0 commented on #228
I have almost the same problem, only with the difference that it works for me in the development environment, but as soon as I change the environment to prod it does not work anymore. The audit viewer is working and table schema is up to date.

Installed packages:
[code]

Doctrine configuration:
[code]

dh_auditor.yaml:
[code]

[2020-12-29 14:09] DamienHarper commented on #227
@ivyasyeshugo did you solve your problem?

[2020-12-29 14:13] DamienHarper commented on #228
@N4IR0 that's strange, did you clear your cache in prod environment?
@e9li does it work in dev env?
@e9li @N4IR0 do you have any other bundle extending/depending on doctrine? (post the result of `composer info` might be helpful)

[2020-12-29 14:20] e9li commented on #228
In my case it does not log operations at all, not in dev nor in prod.

[code]

[2020-12-29 14:25] DamienHarper commented on #228
@e9li thanks, I need some more time to investigate

[2020-12-29 17:45] N4IR0 commented on #228
Yes, I've cleared the cache multiple times to ensure that this is not the issue. Additionally I changed the Symfony environment of my local development environment to production to ensure that this is not an issue with the production setup.

Here is the output of `composer info` with all bundles extending doctrine/entities:
[code]

Additionally I have an own event subscriber which subscribes preUp

[2020-12-30 09:02] N4IR0 commented on #228
I have now tried to log all events which are fired. Unfortunately the prod environment does not log events unless APP_DEBUG is set to true, but as soon as I set this to true, the audit is working again (even in production).

[2020-12-31 10:27] ivyasyeshugo commented on #227
@DamienHarper Not at all, still we are looking for it if you have any idea about that why its showing XML instead of HTML, any configuration file or something else needs to change then it will help me, I had used the API platform of symfony

[2021-01-03 21:45] e9li commented on #228
If I register the `DoctrineSubscriber` as @N4IR0 describes everything seams to work in dev and prod.

[2021-01-04 04:18] Seb33300 opened #229 "Track read actions"
Hello,

Is there any way using this bundle to track `read` actions?
I mean, track when a user access to the content of an entity.

If this is not possible to do automatically, is there any way to manually create and save custom audit log using this bundle?

Thank you

[2021-01-04 16:45] DamienHarper commented on #227
@ivyasyeshugo it looks like something changes the response content type, maybe another installed bundle or a custom event listener for example

[2021-01-04 16:51] DamienHarper commented on #228
@N4IR0 @e9li thanks for the feedback, I'll have a look at this issue asap

[2021-01-04 17:26] grekpg opened #230 "Please change required php version for php8"
This package requires php ^8 but your PHP version (7.4.11) does not satisfy that requirement.

[2021-01-04 17:35] DamienHarper commented on #229
@Seb33300 I'm not sure to fully understand what you mean by _"access to the content of an entity"_
There are several ways to access the content of an entity:
- using properties (eg. `$entity->property`)
- using accessors (eg. `$entity->getProperty()`

In both cases, no event if fired so we are not able to log this to an audit log.

It could only be possible if  "accessing the content of an entity"

[2021-01-04 17:35] #229 closed

[2021-01-04 17:39] DamienHarper commented on #230
@grekpg as of now, the `composer.json` file requires `"php": ">=7.2",` so it should not trigger the error you mention. Could you please elaborate?

[2021-01-05 14:29] benoit-hash commented on #228
Hello Everyone,
I really find this bundle wonderful.
I have the same problem with no entity modification getting logged since the new version.
But with the workaround from @N4IR0, it works.

[2021-01-06 13:33] ivyasyeshugo commented on #227
@DamienHarper  as we have now changes in our requirement, so we don't need to do this as of now,
Thanks for your extensive support, I really appreciate it.

[2021-01-06 13:33] #227 closed

[2021-01-07 15:15] Pollares01 opened #231 "Database problem"
After running the command `composer install damienharper/auditor-bundle`, the configuration files have been created.

But no change in my database!
`bin/console doctrine:migrations:diff` displays that no changes were detected.

How can I add the audit tables to my database? Do I have to create these tables myself?

[2021-01-07 15:39] Jabolek opened #232 "Auditor modifies doctrine connection between tests"
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.0.3
| PHP version                 | 7.4.12
| Database                    | PostgreSQL

#### Summary

This issue occured after upgrading bundle from 3.* to 4.*. 3.x didn't have this issue.

When running multiple Symfony integration tests that use RefreshDatabaseTrait from http

[2021-01-10 16:20] ikappas commented on #228
@DamienHarper I have run into this issue as well. Using manual service registration as @N4IR0 suggested gets logging working.

[2021-01-11 23:37] DamienHarper commented on #228
@N4IR0 @e9li @benoit-hash @ikappas This should be fixed in `master`, could you please confirm me that it works for you in production environment, without manually registering `DoctrineSubscriber`.
If it does, I'll release `4.0.4` shortly.

[2021-01-11 23:39] DamienHarper commented on #230
@grekpg any news about this?

[2021-01-11 23:45] DamienHarper commented on #231
Hi @Pollares01, did you configure which entities have to be audited either thanks to the [configuration file](https://damienharper.github.io/auditor-docs/docs/auditor-bundle/configuration/auditing.html#audited-entities-and-properties) or by using [annotations](https://damienharper.github.io/auditor-docs/docs/auditor-bundle/configuration/auditing.html#annotations)?

[2021-01-12 06:01] N4IR0 commented on #228
@DamienHarper Unfortunately with the master branch it's also not working. I've also verified that your changes from PR #233 has been deployed.

[2021-01-14 08:23] Pollares01 commented on #231
Hello @DamienHarper

Yes I did it.
![image](https://user-images.githubusercontent.com/55586343/104563525-0b2d0300-564a-11eb-9464-5e11d12142e3.png)

[2021-01-14 20:29] Upgreydd opened #234 "No logging of EasyAdmin3 actions"
Hey! I've configured auditor like this:
[code]
but nothing is logged. I've tried to debug it and I'm not sure why it's not working.

[2021-01-14 20:30] Upgreydd opened #235 "No logging with easyadmin3"
Hey! I've configured auditor like this:
[code]
but nothing is logged. I've tried to debug it and I'm not sure why it's not working.

[2021-01-14 20:31] Upgreydd opened #236 "No logging actions from EasyAdmin3"
Hey! I've configured auditor like this:
[code]
but nothing is logged. All actions are started through EasyAdminCurdControllers

[2021-01-14 21:46] DamienHarper commented on #236
duplicate of #234

[2021-01-14 21:46] #236 closed

[2021-01-14 21:47] DamienHarper commented on #235
duplicate of #234

[2021-01-14 21:47] #235 closed

[2021-01-14 22:42] DamienHarper commented on #228
@N4IR0 that's weird, I can't reproduce that issue,  it works for me in every environment, whatever value is set to `APP_DEBUG`.

[2021-01-15 08:31] Upgreydd commented on #234
I've checked which ORM EasyAdmin3 uses and it's `doctrine.orm.default_entity_manager`

[2021-01-15 13:18] DamienHarper commented on #234
Hi @Upgreydd, thanks for your feedback. Your issue seems related to #231 which I'm currently investigating.

[2021-01-15 13:33] DamienHarper commented on #228
@e9li @N4IR0 @ikappas @benoit-hash I still can't reproduce the issue so far :/
Can any one of you could share me a project which can reproduce the issue?

[2021-01-15 13:42] DamienHarper commented on #231
@Pollares01 Could you please post your compiled container as a gist for example?
(it should be located in a path similar to `var/cache/XXX/ContainerYYY/App_KernelProdContainer.php` where `XXX` should match the environment such as `dev` or `prod` and `YYY` is some random chars)

[2021-01-15 14:50] Pollares01 commented on #231
Yes sure.

https://pastebin.com/HxUr8b4q

[2021-01-15 15:50] DamienHarper commented on #231
@Pollares01 well it's quite weird and I can't reproduce the issue.
Could you share me a your project (if not to sensible) so that I can reproduce the issue?

[2021-01-16 18:03] Upgreydd commented on #228
@DamienHarper - I've checked EasyAdmin3 problem with @N4IR0 solution - works fine, so it's related to this issue.

[2021-01-25 12:45] Alarich opened #237 "Symfony 3.4 Support broken with ViewerEventSubscriber in 4.0"
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.0.3
| PHP version                 | 7.3.24
| Database                    | MySQL
| Symfony                     | 3.4.47

#### Summary

[ViewerEventSubscriber](https://github.com/DamienHarper/auditor-bundle/blob/1d9c5ee434a53982185ca2922d9d34977d4ca66d/src/Event/ViewerEventSub

[2021-01-25 13:36] DamienHarper commented on #237
@Alarich This should be fixed in `master` new, can you confirm?

[2021-01-25 13:45] DamienHarper commented on #228
@N4IR0 @e9li well I feel like I'm going around in circles and still can't reproduce this issue. It does not seem to appear in the demo of this bundle (https://github.com/DamienHarper/auditor-bundle-demo), It does not seem to appear when using the Symfony demo project. I also use this bundle in several apps in production without this issue so it might be the consequence of using other specific bund

[2021-01-25 14:09] Alarich commented on #237
Yes, this is exactly what I did in my override.
Thanks @DamienHarper :)

[2021-01-25 14:21] #237 closed

[2021-01-27 00:43] Alarich commented on #228
Apologies for adding to the existing muck, but I think the issue I'm experiencing is similar and what I found might help somewhat.

PHP 7.3, Symfony 4.4.18.

It seems to me that the Doctrine EntityManager that is described by the Injector Definition in the compilerpass is not the same EntityManager that is loaded in the system later.
At some point after the DoctrineProvider obtains its' EntityMana

[2021-01-27 14:24] e9li commented on #228
@DamienHarper I use this bundle only in one large project and not a public one. I am sorry, unfortunately I can't share it with you. With the fix of @N4IR0 logging works for me. If I can provide you with some further informations let me know.

[2021-01-27 18:10] DamienHarper commented on #228
@N4IR0 thanks for all these info, very valuable. Unfortunately I still can't reproduce it myself :(

[2021-01-27 19:12] N4IR0 commented on #228
@DamienHarper Unfortunately I also use this bundle in an internal project, but I try to build an application which reproduces this issue, as soon as possible. Maybe I forgot something while upgrading Symfony from 3.4 -> 4.4 -> 5.2.

[2021-01-29 20:14] N4IR0 commented on #228
@DamienHarper While I tried to reproduce this issue in an own application I've found out that version 5.2.2 of symfony/doctrine-bridge fixes this issue.
@e9li can you also verify that in your application?

[2021-01-30 09:04] DamienHarper commented on #228
@N4IR0 that sounds interesting. Does this mean you can reproduce the issue with your app if downgrading ˋdoctrine-bridge` bundle?

[2021-01-30 09:49] e9li commented on #228
@DamienHarper I can confirm that in version 5.2.2 logging works fine without the workaround from @N4IR0. At least in my project. Thank you very much for your great support!

[2021-01-30 09:53] DamienHarper commented on #228
Thanks @e9li @N4IR0!
Now we have to find if the problem was introduced in 5.2.1 or if it was already here earlier.
What bugs me is that I'm pretty sure it worked in my own projects on 5.2.1, I have to double check.

[2021-01-30 22:01] N4IR0 commented on #228
@DamienHarper I have now pushed the app which reproduces the bug. Please note that the creation is getting logged, only modifications are not logged: https://github.com/N4IR0/auditor-bundle-test/

It uses sqlite by default, so just run the migration, afterwards the app should run. I hope this will help you :see_no_evil:

[2021-01-30 22:06] DamienHarper commented on #228
@N4IR0 thanks a lot, I'll have a look at it asap!

[2021-02-01 09:41] DamienHarper commented on #228
@N4IR0 it looks like `5.2.0` and `5.2.1` are the only affected versions of `doctrine-bridge`

[2021-02-01 21:20] #228 closed

[2021-02-01 21:29] DamienHarper commented on #228
@N4IR0 @e9li @Alarich @Upgreydd I finally excluded  both `5.2.0` and `5.2.1` from the `composer.json` so everything should be fined now in `master` branch.

Kudos to @N4IR0 for his help!

[2021-02-01 21:29] DamienHarper commented on #234
@N4IR0 @e9li @Alarich @Upgreydd I finally excluded  both `5.2.0` and `5.2.1` from the `composer.json` so everything should be fined now in `master` branch.

Kudos to @N4IR0 for his help!

[2021-02-01 21:30] #234 closed

[2021-02-01 21:31] DamienHarper commented on #231
@Pollares01 could you try again using `master` branch?

[2021-02-01 21:32] DamienHarper commented on #230
@grekpg No feedback so I close this issue, feel free to reopen if needed.

[2021-02-01 21:32] #230 closed

[2021-02-02 08:11] Alarich commented on #228
@DamienHarper
My symfony/doctrine-bridge was 4.4.18, however, 4.4.19 was released just a few days ago and updating to that fixes it for me.
https://github.com/symfony/doctrine-bridge/releases/tag/v4.4.19

[2021-02-04 08:26] Pollares01 commented on #231
Sorry I didn't answer earlier, but my development guidelines have changed, so I don't have to use your library anymore, I removed it from my project. Maybe I would use it later!

Thank you for your help

[2021-02-04 08:32] DamienHarper commented on #231
@Pollares01 thanks for the feedback

[2021-02-04 08:32] #231 closed

[2021-02-08 12:22] chrisbiaz opened #243 "How to store audit tables in other database ?"
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.0.4
| PHP version                 | 7.4.12
| Database                    | PostgreSQL

Hello,
I try to save my audit tables with another manager.
I configure the bundle with this code :

<pre>
doctrine:
    dbal:
        default_connection: default
        connections:

[2021-02-09 16:11] DamienHarper commented on #243
@chrisbiaz Thanks for the report, I'll have a look at it asap

[2021-02-10 17:22] DamienHarper commented on #243
@chrisbiaz this should be fixed by using `auditor`'s `master` branch

[2021-02-10 20:34] DamienHarper commented on #243
@chrisbiaz I close this issue, feel free to reopen it if needed

[2021-02-10 20:34] #243 closed

[2021-02-11 18:22] Viktor-Bredihin opened #244 "AuditReader->getAudits by array of ids"
AuditReader->getAudits - I can get only all records or one record by id, I wish to be able to pass array of ids
The problem is that most of methods are private and I can expand this class

[2021-02-11 21:02] DamienHarper commented on #244
@Viktor-Bredihin As long as you mention `AuditReader`, I suppose you are using version `3.x` of the bundle. If so, you can't pass multiple values to `AuditReader::getAudit()` method.

I strongly suggest you to upgrade to version `4.x` of this bundle to get more control and filters so you can achieve what you expect. Upgrading is easy and documented [here](https://damienharper.github.io/auditor-doc

[2021-02-12 09:41] mathieu-gilloots opened #245 "Doctrine Migrations not managing audit table."
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.1.0
| PHP version                 | 7.4.15
| Database                    | MySQL

#### Summary

When I'm installing the bundle, "_audit" table are autogenerated and not managed by doctrineMigations.
Doctrine Migrations, want's to remove the table when the bundle created it.

[2021-02-12 16:32] DamienHarper commented on #245
@mathieu-gilloots thanks for the report, I'll have a look asap

[2021-02-16 07:44] Viktor-Bredihin commented on #244
@DamienHarper
thank you very much, it works great

[2021-02-16 07:44] #244 closed

[2021-02-17 15:24] Metabor commented on #245
Have the same issue after running composer update.
Before there was no such issue.

[2021-02-18 15:39] Alexandr-Du opened #247 "reader->createQuery->addFilter by array of object_ids"
Hi! How can I make a query with a filter by array of object_ids?

[2021-02-18 16:34] DamienHarper commented on #247
@Alexandr-Du Right now you have to call `Query::addFilter()` for each object_id, for example:
[code]
I plan to add the ability to pass multiple values to `Query::addFilter()` in a future release though.

[2021-02-18 17:29] Alexandr-Du commented on #247
Thank you, I'm looking forward to it

[2021-02-19 01:08] adrav commented on #245
have the same issue.
Pls fix ASAP.

[2021-02-19 12:25] Viktor-Bredihin commented on #228
@DamienHarper
I don't think the issue is fixed, prePersist/postPersist events works now, but preUpdate/postUpdate doesn't. Should I post a new issue?

[2021-02-19 13:08] Viktor-Bredihin commented on #228
![Screenshot from 2021-02-19 16-07-56](https://user-images.githubusercontent.com/2298048/108508316-ac078180-72cc-11eb-9b1c-cb2bf9c669bb.png)
if I comment this row - listeners work

[2021-02-19 13:24] Viktor-Bredihin opened #248 "preUpdate/postUpdate listener stop working"
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.1.0
| PHP version                 | 7.4.12
| Database                    | MySQL / PostgreSQL / SQLite / Other

#### Summary

bundle removes listeners
#### Current behavior
preUpdate/postUpdate event listeners not working after bundle enabled (dh_auditor: enabled: true)

####

[2021-02-19 15:39] DamienHarper commented on #228
@Viktor-Bredihin that's very weird because the line you comment in your screenshot is in a file only used in tests

[2021-02-19 15:41] DamienHarper commented on #248
@Viktor-Bredihin that's very weird because the line you are referencing here is only used in tests

[2021-02-19 15:46] Viktor-Bredihin commented on #248
@DamienHarper
I'm afraid it's not

[2021-02-20 22:05] DamienHarper commented on #248
@Viktor-Bredihin well I can't reproduce the issue: both `preUpdate` and `postUpdate` are fired properly with latest stable release and the code you outline above is not loaded/executed outside of tests (you can try/use the [auditor-bundle-demo](https://github.com/DamienHarper/auditor-bundle-demo) as a sandbox for example).
I suppose you probably have something wrong in your project (you may have u

[2021-02-20 22:20] DamienHarper commented on #245
This should be fixed in `master`.
Other fixes regarding `audit:schema:update` command should come quite shortly.

[2021-02-23 06:41] timwsuqld opened #255 "[Security] Make audit viewer default to disabled, or protected via a Role"
Having the audit view (`/audit`) default to enabled could cause users of this bundle to inadvertently expose data to the public (security leak). The default config requires no authentication to access `/audit` and any objects that you are auditing will have their details viewable.

Yes, there are details of this in the documentation, but there will be plenty of people who grab this bundle to add a

[2021-02-26 00:06] DamienHarper commented on #248
@Viktor-Bredihin any news?

[2021-02-26 00:19] DamienHarper commented on #245
Everything should be fine on `master`. I close this issue for now, feel free to reopen if needed.

[2021-02-26 00:19] #245 closed

[2021-02-26 08:53] Viktor-Bredihin commented on #248
@DamienHarper
this bundle is definitely causing problems with listeners, for example as soon as I set up it, even if I make it enabled: false in dh_auditor.yaml - prePersist/postPersist listeners stop working (with cascade persist)

[2021-02-26 10:28] DamienHarper commented on #248
@Viktor-Bredihin my concern is that I can't reproduce your issue, listeners are fired properly on several of projects I have access to :/
Could you share a project that reproduce the issue with me please? It would really help ;)

[2021-02-26 12:27] Viktor-Bredihin commented on #248
@DamienHarper
Thank you very much for support, right now I'm searching for the problem. I think you are right and the reason should be in my project, after some research I think the problem could come from api platform bundle. I will update you today

[2021-02-26 13:20] Viktor-Bredihin commented on #248
@DamienHarper
security.yaml->firewalls->listeners in anonymous endpoints stop working
firm_registration:
        pattern:  ^/api/firms/registration
        stateless: true
        anonymous: true

[2021-02-26 13:56] DamienHarper commented on #248
@Viktor-Bredihin well, I don't get why the bundle would alter listeners of those anonymous endpoints tbh 🤔

[2021-02-27 15:19] Viktor-Bredihin commented on #248
@DamienHarper
I found out that the problem appears only in dev/test environments, production works fine. Any idea?

[2021-02-27 20:13] denis1994 opened #249 "Doctrine migrations wants to drop tables"
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.10
| PHP version                 | 7.4.4
| Database                    | MySQL

#### Summary

I upgraded from the old DoctrineAuditBundle to the new auditor-bundle with this guide: https://damienharper.github.io/auditor-docs/docs/auditor-bundle/upgrading.html#upgrading-from-a

[2021-03-01 11:10] mathieu-gilloots commented on #228
@DamienHarper I've the same issue.
@N4IR0 fixes the issue.

| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.1.0
| PHP version                 | 7.4.15
| Symfony version                 | 3.4
| Database                    | MySQL

I think this issue should be re-open.

[2021-03-01 15:58] Viktor-Bredihin commented on #228
@mathieu-gilloots
check this out https://github.com/DamienHarper/auditor-bundle/issues/248#issuecomment-786662276
do u have the same problem?

[2021-03-01 22:25] DamienHarper commented on #249
@denis1994 Thanks for the feedback, could you please test `master` branch of `auditor`?

[2021-03-01 22:43] denis1994 commented on #249
With `master` branch of `auditor` it works as expected. Thank you!
I now also found a same issue #245
Sorry that I didn't find it before and opened a new issue.

[2021-03-02 14:33] mathieu-gilloots commented on #228
@Viktor-Bredihin No, same problem in prod environement.
It's work with @N4IR0 listener.

@DamienHarper any clues ?
Thanks

[2021-03-03 08:36] DamienHarper commented on #228
@mathieu-gilloots I'm not sure what issue you are talking about exactly?
Also, could you please test again using `auditor`'s `master` branch?

[2021-03-03 08:44] DamienHarper commented on #249
@denis1994 Do you mean that you encounter #245 now that you are using `master` branch of `auditor`?
Could you please post your `dh_auditor.yaml` and `doctrine.yaml` configuration files?

[2021-03-03 08:47] denis1994 commented on #249
No with master everything works. But the #245 is the same issue as my issue.

[2021-03-03 09:03] DamienHarper commented on #249
@denis1994 thanks for the clarification. I close this issue as you confirmed it works with `master`, feel free to reopen if needed

[2021-03-03 09:03] #249 closed

[2021-03-03 09:44] DamienHarper commented on #248
@Viktor-Bredihin I'm sorry but I still don't have any idea about this behavior that still seems bound to your project

[2021-03-03 12:22] Alexandr-Du commented on #248
Hi guys, I have the same problem. I noticed that when using the metadata_cache_driver doctrine by default, there is a problem. Listeners stop working. But if you set metadata_cache_driver in the doctrine settings, for example, as shown in the picture, then the listeners work correctly.
![image](https://user-images.githubusercontent.com/79269926/109804179-055ba300-7c33-11eb-8457-6edb903a6e4f.png)

[2021-03-04 15:47] jbaptissart opened #250 "Relation between entites in viewer"
Hello,
Thanks a lot for this very helpful bundle.

I am currently using the v4 and I was wondering something : is there any way to display the changes of an entity that is linked to another?

Let me explain:
- I have a "Contact" entity, that have a name and an adress_id pointing to an entity called "Address".
- On the website, address does not have it's own form, when you edit a contact, you edit

[2021-03-04 16:05] #250 closed

[2021-03-04 16:29] jbaptissart commented on #250
Just figured out that I can use the reader object and build up my own reports. Sorry.

[2021-03-04 20:04] DamienHarper commented on #248
@Viktor-Bredihin I added a simple CRUD to the demo app (https://github.com/DamienHarper/auditor-bundle-demo) of the bundle and implemented a simple postUpdate listener to check if it works as expected.
The postUpdate listener only sets a flash message indicating it's been triggered.

To check by yourself, clone the demo repository then follow its README (setup database, load fixtures, start server

[2021-03-06 11:11] zisson opened #251 "auditor Bundle listener not call in prod and dev"
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.1.0
| PHP version                 | 7.1
| Database                    | MySQL

#### Summary

After installation and configuration of the bundle, no activity on the audited entity. After some research, I had to configure the doctrine listener in the service to listen to the ev

[2021-03-06 11:22] DamienHarper commented on #251
@zisson thanks for the report, could you please tell me what version of `auditor` you're using
(run `composer info | grep "auditor"` to check that).

The latest version of `auditor` is `1.2.0` so if you're not using the latest version, please consider updating to `1.2.0`, it should fix your issue.

[2021-03-06 11:26] zisson commented on #251
Thanks for your quick return.
I use the version ''dev-master' de auditor.

[2021-03-06 11:28] DamienHarper commented on #251
@zisson Could you please provide the result of `composer info`, it would be helpful.

[2021-03-06 11:32] zisson commented on #251
result of command
`damienharper/auditor                 dev-master 297c37a The missing audit l...
damienharper/auditor-bundle          4.1.0              Integrate auditor l`

[2021-03-06 14:54] DamienHarper commented on #251
Could you please give the full result of `composer info`?

[2021-03-06 16:47] zisson commented on #251
@DamienHarper
damienharper/auditor                 dev-master 297c37a The missing audit log library.
damienharper/auditor-bundle          4.1.0              Integrate auditor library in your Symfony projects.

[2021-03-06 16:48] DamienHarper commented on #251
I need the full result, not only the lines belonging to auditor please.
=> full result of `composer info`

[2021-03-06 17:14] zisson commented on #251
api-platform/core                    v2.2.0             The ultimate solution to create web APIs.
aws/aws-sdk-php                      3.173.18           AWS SDK for PHP - Use Amazon Web Services in your PHP project
aws/aws-sdk-php-symfony              2.2.2              A Symfony bundle for v3 of the AWS SDK for PHP
beberlei/doctrineextensions          v1.3.0             A set of extensions to Do

[2021-03-06 18:13] DamienHarper commented on #251
@zisson that's strange, I don't see any ref to `symfony/doctrine-bridge`. Could you try to add it to your deps please?

[2021-03-08 08:59] zisson commented on #251
ok.
But Why doctrine-bridge is not a dependency of your bundle ?

[2021-03-08 09:30] DamienHarper commented on #251
@zisson [it is](https://github.com/DamienHarper/auditor-bundle/blob/827b1d18d189f583f39901ffef5b3d5777088d05/composer.json#L19), that's why I found your `composer info` output strange.

[2021-03-11 20:48] DamienHarper commented on #251
@zisson Any news?

[2021-03-11 20:49] DamienHarper commented on #248
@Viktor-Bredihin @Alexandr-Du any news?

[2021-03-18 11:37] DamienHarper commented on #248
@Viktor-Bredihin @Alexandr-Du Do you still face this issue?

[2021-03-18 11:37] DamienHarper commented on #251
@zisson Do you still face this issue?

[2021-03-18 11:45] Viktor-Bredihin commented on #248
@DamienHarper
thanks for you support. I still has this issue, I have found out it's happening only for free routes (IS_AUTHENTICATED_ANONYMOUSLY), I don't have much free routes, so just replaced entity_listener with event_listener for them to avoid cache issues. Works fine now

[2021-03-18 11:49] DamienHarper commented on #248
@Viktor-Bredihin Thanks for the feedback.
FYI there are only "free routes" in the demo example I provided. Maybe you could clone it and compare it with your project/install your project deps etc and find when it starts to misbehave.

[2021-03-18 11:59] Viktor-Bredihin commented on #248
@DamienHarper
it's a huge project with a lot of dependencies, so going to take some time. For now I'm gonna go with event listeners for free routes

[2021-03-23 16:15] DamienHarper commented on #251
@benoliver999 thanks for the feedback and regarding Symfony 3.4, nobody's perfect 🤣
More seriously, I notice that you also don't have `symfony/doctrine-bridge` either which seems weird since [it's required by `auditor-bundle`](https://github.com/DamienHarper/auditor-bundle/blob/827b1d18d189f583f39901ffef5b3d5777088d05/composer.json#L19).
Could you please try to install it manually and retry?

[2021-03-23 16:54] benoliver999 commented on #251
I can't get it to install directly with composer require, it moans about a
conflict with another require.

I also tried `composer require symfony/doctrine-bridge "^3.4"`

It didn't moan, but also it weirdly didn't appear to install doctrine-bridge.
composer show still didn't show it.

Tried removing the services anyway, but it stopped working again.

[2021-03-26 08:32] SanderVerkuil opened #253 "Different translation namespace"
Currently, the translations live in the `messages` translation namespace. This could cause conflicts with existing projects that also use the same keys, but having a slightly different meaning.

Therefore I propose the idea that the translations are moved to a different namespace, but I'm not entirely sure what that namespace would be.

Wat do you think about either `audit` or `dh_audit`?

[2021-03-28 20:14] gassan commented on #251
its very strange. Local (macos) works without entries (both dev and prod) With entries in services.yml all changes are stored twice.
On live server (debian) it works only with adding services to services.yml (dev and prod)

[2021-03-28 20:55] benoliver999 commented on #251
Wow, I wouldn't have tied it back to OS!

I can confirm I'm using Debian.

I really don't mind having the entries in services.yml but as you say if it
could end up auditing stuff twice it's something to keep an eye on.

[2021-03-31 11:29] mrtnzagustin commented on #57
Any possible update on this? i'll look to consider making a PR

[2021-04-05 13:36] gam6itko opened #254 "API Controller required"
I need to get audit data via AJAX request. Can you add ApiController?

[2021-04-06 16:07] #255 closed

[2021-04-06 16:08] DamienHarper commented on #255
@timwsuqld I moved this issue to `auditor-bundle` repository as long as the viewer is an `auditor-bundle` feature.
This should be fixed now in `master` branch (viewer disabled by default).

[2021-04-06 16:18] DamienHarper commented on #253
@SanderVerkuil thanks for the feedback. I'd prefer an `auditor` namespace, would you mind submitting a relevant PR?

[2021-04-06 16:21] DamienHarper commented on #254
@gam6itko thanks for the feedback.
As of now, you can already have a dedicated controller inside your application that makes use of `Query` object to query audit data, build JSON response etc.

What do you exactly want this `ApiController` would do/expose?

[2021-04-06 20:01] DamienHarper commented on #57
@mrtnzagustin i still don’t plan to add support of composite primary keys.
It would require quite important changes to the current code base such as changing the way we currently store object ids in every audit table.
This would also imply some backward compatibility headaches regarding users currently using the bundle in prod, ie. users having actual (single column primary key based) audit data.

[2021-04-07 04:26] timwsuqld commented on #255
Thanks @DamienHarper

[2021-04-08 11:27] gam6itko commented on #254
@DamienHarper I copied the ViewController and deleted the twig section for my case. Any user who needs ApiController will be forced to do the same. I think we can make this easier by making the class available out of the box.

[2021-04-11 19:54] DamienHarper commented on #254
@gam6itko what do you mean by "deleted the twig section for my case"? do you mean you replaced the `$this->render(...)` calls with something like `$this->json(...)`?
Maybe you could submit a PR, that would be easier/clearer ;)

[2021-04-11 21:20] vindert opened #256 "Incorrect SQL statement using MSSQL"
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.1.0
| PHP version                 | 8.0.3
| Database                    | MSSQL

#### Summary

Running a migration always terun a ivalid SQL statement for MSSQL.

#### Current behavior

`ALTER TABLE category_audit ALTER COLUMN id INT IDENTITY NOT NULL`
SQL error is:
`Incorrec

[2021-04-13 17:30] Magikan opened #257 "Incorrect initialization of the "auditing_services" and "storage_services" config parameters"
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.0.4
| PHP version                 | 7.4.13
| Database                    | MySQL:8.0

#### Summary

Hello, installing the latest bundle. Adding more than 1 EntityManager to the "auditing_services" config and I get Exception "An auditing service named "% s " is already registe

[2021-04-13 20:20] DamienHarper commented on #257
@Magikan thanks for the report. Though, I can't reproduce your issue on my side, could you please post your `dh_auditor.yaml` config file? Also, which version of `auditor` is installed? (I see here that `auditor-bundle` is 4.0.4)

[2021-04-13 20:28] DamienHarper commented on #256
@vindert thanks for the report, I don't have any MSSQL setup at hand so I haven't tested it.

It looks like the bug is related to Doctrine and not this bundle specifically (cf [issue #1717 on doctrine/dbal repository](https://github.com/doctrine/dbal/issues/1717#issuecomment-512209429))

[2021-04-13 20:43] DamienHarper commented on #256
@vindert It even looks like this is more an SQLServer issue than a doctrine one as discussed on several forums (dated discussions)
- https://sqlstudies.com/2017/06/19/adding-identity-to-an-existing-column/
- https://social.msdn.microsoft.com/Forums/sqlserver/en-US/0ade4817-f8ad-458d-bf19-484d933bae75/incorrect-syntax-near-the-keyword-identity?forum=transactsql
- https://www.experts-exchange.com/qu

[2021-04-14 09:53] Magikan commented on #257
@DamienHarper thanks for quick response. I will assist you as quickly as possible. Thank you!

dh_auditor.yaml

[code]
damienharper/auditor-bundle v4.0.4
damienharper/auditor v1.2.0

my doctrine orm config
[code]

[2021-04-23 11:10] tomme87 opened #258 "Not possible to audit entity without annotations."
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.1.0
| PHP version                 | 7.4.13
| Database                    | MariaDB 10.4

#### Summary

Adding entities to the config does nothing unless `@Auditable()` annotation is added to the entity.

my config:
[code]

Note: Using annotations everything works as expected.

[2021-04-23 11:10] tomme87 opened #275 "Not possible to audit entity without annotations."
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.1.0
| PHP version                 | 7.4.13
| Database                    | MariaDB 10.4

#### Summary

Adding entities to the config does nothing unless `@Auditable()` annotation is added to the entity.

my config:
[code]

Note: Using annotations everything works as expected.

[2021-04-26 13:18] tomme87 opened #259 "Support for remote lock stores"
Right now when lock is acquired only with SemaphoreStore or FlockStore.

I should be able to use a lock I have configured with symfony FrameworkBundle see https://symfony.com/doc/current/lock.html
Maybe a config option with named lock I want to use?

[2021-04-26 18:05] INHack20 opened #260 "An auditing service named "X" is already registered."
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.1.0
| PHP version                 | 7.2.34
| Database                    | MySQL

#### Summary

I want to audit multiple database tables and for that I put the following configuration.

#### Current behavior

#### How to reproduce

Doctrine configuration:

[2021-04-26 20:03] DamienHarper commented on #260
@INHack20 thanks for the feedback, seems a duplicate of #257

[2021-04-26 20:28] DamienHarper commented on #248
I close this issue since no further feedback has been provided and I still have no way to reproduce it. Feel free to reopen it if needed.

[2021-04-26 20:28] #248 closed

[2021-04-26 23:14] #257 closed

[2021-04-26 23:14] #260 closed

[2021-04-26 23:15] DamienHarper commented on #257
@Magikan This should is fixed in `master` branch.

[2021-04-26 23:15] DamienHarper commented on #260
@INHack20 This should is fixed in `master` branch.

[2021-04-26 23:17] DamienHarper commented on #258
@tomme87 thanks for the report, will have a look at this issue asap

[2021-04-26 23:21] DamienHarper commented on #259
@tomme87 thanks for the feedback, this is not implemented at the moment. Feel free to submit a PR if you feel brave, I'd be happy to review it ;)

[2021-04-27 00:30] INHack20 commented on #260
@DamienHarper Thanks, very good component.
I recommend that you place some configuration files for easy integration to easy_admin, which is a bundle that is being used a lot as an administrator.

[2021-04-27 06:15] DamienHarper commented on #260
@INHack20 Thanks for these kindly words :)
Could you please elaborate on:

[2021-05-02 21:42] #253 closed

[2021-05-08 13:02] Nemo64 opened #263 "Support php8 attributes"
Pretty simple. php 8's attributes should be supported in addition to the Annotations.

[2021-05-11 16:25] Magikan commented on #257
Thank you, this week I will experience.

[2021-05-12 11:13] #254 closed

[2021-06-09 09:43] Legion112 opened #264 "Codeception: memory leak."
| Q                           | A
| ----------------------------| -----------------------
| `auditor-bundle` version    | 4.1.0
| PHP version                 | 7.4.19
| Database                    |  PostgreSQL

#### Summary
Memory leak when running deception test.

#### Current behavior
After running several tests the test fails on memory exhausted.
Error
[code]
My assumption the `damienharper/au

[2021-06-10 08:48] parijke opened #265 "Clear deprecation warning"
Since I upgraded to SF 5.3 I see this deprecation warning:

deprecation.INFO: User Deprecated: Passing name and value is deprecated, you should pass a FilterInterface object instead. {"exception":"[object] (ErrorException(code: 0): User Deprecated: Passing name and value is deprecated, you should pass a FilterInterface object instead. at /home/myproject/vendor/damienharper/auditor/src/Provider/Doc

[2021-06-18 12:10] Bukashk0zzz opened #266 "Ability to set parent Entity"
I have this Entity structure on the project:

Company -> Group -> Item

And I need the ability to show all changes inside the group or company.
So for getting all "Item" changes inside the Group now I need to select all Item ids and then select all records regarding them.
In my case, there can be thousands of Items inside the Group and there is no easy way to show all changes inside the Company.

[2021-06-21 15:05] RomanApunts commented on #110
Hello,

Today i had the same problem but without drop statements...

My environment is different if that help:

Symfony 5.3.2
SQL SERVER 15.0
Windows

I tried to tell doctrine server_version without success...

------------------------------------------------------
php bin/console audit:schema:update --dump-sql

 The following SQL statements will be executed:

     ALTER TABLE company_log ALTER CO

[2021-06-22 12:00] timwsuqld opened #267 "Provide way to specify "blame" user for console commands"
I'm hoping I've just missed something. We have Symfony console commands that edit Doctrine entities and thanks to this amazing Auditor bundle, they get an entry in the audit logs. However, the blame fields are empty, rightly so because there is no firewall or request in the Console commands. It would be great if we could assign a specific "blame user" for console commands, so it's easier to see th